ba-page-top {
  display: flex;
  height: 15vh;
  color: #123456;
  z-index: 999;


  .logo-container  {
    a {
      display: block;
      img {
        padding: 10px;
        height: 15vh;
      }
    }
    margin-right: 30px;
  }

  .media-player-container {
    flex: 1;
    margin-right: 20px;
  }


  .right-menu-container {
    position: absolute;
    right: 0;
    padding: 4px;
    .menu-button {
      cursor: pointer;
      display: inline-block;
      margin-left: 2px;
      background-color: grey;
      font-size: 12px;
      line-height: 15px;
      padding: 6px 8px;
      color: white;

      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
}

