@import '../../../../theme/sass/conf/conf';

#dropzone {
  /*background: rgba(255,0,0,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 39%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,0,0,1)), color-stop(39%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 39%, rgba(0,0,0,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 39%, rgba(0,0,0,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 39%, rgba(0,0,0,1) 100%);
  background: radial-gradient(ellipse at center, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 39%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#000000', GradientType=1 );*/
  -webkit-transition: color 400ms ease, background-image 800ms ease, font-size 400ms ease, -webkit-transform 717ms ease;
  transition: color 400ms ease, background-image 800ms ease, font-size 400ms ease, -webkit-transform 717ms ease;
  transition: color 400ms ease, background-image 800ms ease, font-size 400ms ease, transform 717ms ease;
  transition: color 400ms ease, background-image 800ms ease, font-size 400ms ease, transform 717ms ease, -webkit-transform 717ms ease;
  color: #fff;
  text-align: center;

        width: 100%;
    height: 100%;
      -webkit-transition: color 400ms ease, background-image 800ms ease, font-size 400ms ease, -webkit-transform 717ms ease;
  transition: color 400ms ease, background-image 800ms ease, font-size 400ms ease, -webkit-transform 717ms ease;
  transition: color 400ms ease, background-image 800ms ease, font-size 400ms ease, transform 717ms ease;
  transition: color 400ms ease, background-image 800ms ease, font-size 400ms ease, transform 717ms ease, -webkit-transform 717ms ease;

      font-size: 3vw;
  
}

#dropzone:hover {
  /* background: rgba(255,0,0,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 68%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,0,0,1)), color-stop(68%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 68%, rgba(0,0,0,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 68%, rgba(0,0,0,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 68%, rgba(0,0,0,1) 100%);
  background: radial-gradient(ellipse at center, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 68%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#000000', GradientType=1 );*/

}

.dropzone {
  /* background: rgba(255,0,0,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 39%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,0,0,1)), color-stop(39%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 39%, rgba(0,0,0,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 39%, rgba(0,0,0,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 39%, rgba(0,0,0,1) 100%);
  background: radial-gradient(ellipse at center, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 39%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#000000', GradientType=1 ); */
  -webkit-transition: color 400ms ease, background-image 800ms ease, font-size 400ms ease, -webkit-transform 717ms ease;
  transition: color 400ms ease, background-image 800ms ease, font-size 400ms ease, -webkit-transform 717ms ease;
  transition: color 400ms ease, background-image 800ms ease, font-size 400ms ease, transform 717ms ease;
  transition: color 400ms ease, background-image 800ms ease, font-size 400ms ease, transform 717ms ease, -webkit-transform 717ms ease;
  color: #fff;
  text-align: center;
  .dropzone-text {
      -webkit-transition: color 400ms ease, background-image 800ms ease, font-size 400ms ease, -webkit-transform 717ms ease;
  transition: color 400ms ease, background-image 800ms ease, font-size 400ms ease, -webkit-transform 717ms ease;
  transition: color 400ms ease, background-image 800ms ease, font-size 400ms ease, transform 717ms ease;
  transition: color 400ms ease, background-image 800ms ease, font-size 400ms ease, transform 717ms ease, -webkit-transform 717ms ease;

      font-size: 3vw;
  }
}

.dropzone {
  /* background: rgba(255,0,0,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 39%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,0,0,1)), color-stop(39%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 39%, rgba(0,0,0,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 39%, rgba(0,0,0,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 39%, rgba(0,0,0,1) 100%);
  background: radial-gradient(ellipse at center, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 39%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#000000', GradientType=1 ); */
  -webkit-transition: font-size 400ms ease, -webkit-transform 717ms ease;
  transition: font-size 400ms ease, -webkit-transform 717ms ease;
  transition: font-size 400ms ease, transform 717ms ease;
  transition: font-size 400ms ease, transform 717ms ease, -webkit-transform 717ms ease;
  color: #fff;
  text-align: center;
  padding: 4vh 0px;
  .dropzone-text {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,1);
    display: table-cell;
    vertical-align: middle;
      font-size: 3vw;
  }
  position:relative;
}

.dropzone:after {
  position:absolute;
  z-index: 2;
  opacity:0;
  /* background: rgba(255,0,0,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 39%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,0,0,1)), color-stop(39%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 39%, rgba(0,0,0,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 39%, rgba(0,0,0,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 39%, rgba(0,0,0,1) 100%);
  background: radial-gradient(ellipse at center, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 39%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#000000', GradientType=1 ); */
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-out;
  z-index: 2;
  opacity: 0;
}

.dropzone:hover {
  /* background: rgba(255,0,0,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 68%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,0,0,1)), color-stop(68%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 68%, rgba(0,0,0,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 68%, rgba(0,0,0,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 68%, rgba(0,0,0,1) 100%);
  background: radial-gradient(ellipse at center, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 68%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#000000', GradientType=1 ); */
  .dropzone-text {
      background: rgba(0,0,0,0.1);
      font-size: 5vw;
  }
  
}

.dropzone:after:hover {
  
    opacity: 1;

}

.tab-pane.active {
  position:relative;
}

.add-tracks-to-release {
  padding: 0.25em 0.4em;
  line-height: 1;
  font-size:75%;
}

.tag.tag-link {
      border: solid 1px white;
}

.table tbody tr {
  &:nth-child(odd) {
    background-color: #0e1020;
  }
  &:nth-child(even) {
    background-color: #1f0a0a;
  }
}

.table th, .table td {
    font-size: 16px;
      padding: 0.75rem 7px!important;
      border: solid 1px white;
}

select {
  background-color: black;
  font-size:16px;
}

.scrollable-table {
  height: 70vh;
}

.table {
  table-layout: fixed;
}

.text-container {
  width: 70%;
}

.icon-container {
  width:10%;
}

.table > thead > tr > th:first-child {

  text-align: left!important;

}

.table > tbody > tr > td:first-child {
  text-align: left!important;
}
select {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
&::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
&:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
&:-moz-placeholder { /* Firefox 18- */
  color: white;
}
}
select option[disabled],
select option:disabled,
select option:selected,
select option[selected] {
    color: white;
}

.submit-track {
    -webkit-transition: color 400ms ease, background-image 800ms ease, font-size 400ms ease, -webkit-transform 717ms ease;
  transition: color 400ms ease, background-image 800ms ease, font-size 400ms ease, -webkit-transform 717ms ease;
  transition: color 400ms ease, background-image 800ms ease, font-size 400ms ease, transform 717ms ease;
  transition: color 400ms ease, background-image 800ms ease, font-size 400ms ease, transform 717ms ease, -webkit-transform 717ms ease;

  &:hover {
    color: #8bd22f;
  }
}

.submit-track-in-progress {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #8bd22f;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

  .bubble-container {
    background-color:transparent;
    display:inline-block;
    border: solid 1px;
    border-radius: 9px;
    padding: 8px 10px;
    text-transform: uppercase;
  }



.ui-cell-data i[class*="fa-"] {
      font-size: 24px;
  padding: 0px 5px;
  cursor: pointer;
  opacity:0.7;
  &:hover {
    opacity:1.0;
  }

}



.my-drop-zone {
    border: dashed 1px white;
    padding: 10px;
  text-align:center;
  margin-bottom: 10px;
}

.progress-bar {
  
  height:100%;
  background-color:red;
      -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .25s ease;
    -o-transition: width .25s ease;
    transition: width .25s ease;
}

.progress {
  position:relative;
  overflow:hidden;
  height: 24px;
  border-radius: 25px;
  text-align:center;
  border: solid 1px transparent;
}

.status-message {
  margin:auto;
  position:absolute;
  z-index: 10;
  width: 100%;
  max-width: 100%;
  left: 0px;
  padding: 3px 0px;
}

.track-information {
  line-height: 24px;
      max-height: 48px;
    overflow: hidden;
}

.fa.bigger {
  padding: 0px 5px;
  font-size: 20px;
}

.uploader-controller {
  display:flex;
  flex-direction: row;
  .dropzone-container {
align-content: stretch;
    display: flex;
    padding-bottom:15px;
    #dropzone {
      display: flex;
      align-items:center;
      justify-content:center;
      width: 100%;
      height: 100%;
          
    }
  }
}

.actions-header {
      margin: 0 12%;
}

.text-dark {
  color:black;
}

.justify-spacing {
  align-items: center;
  display:flex;
  justify-content: space-between;
}

.select-checkbox {
  vertical-align: middle;
}

.justify-spacing .center {
    align-items: center;
  display:flex;
  justify-content: space-between;
  .tag {
        margin-left: 5px;
  }
}

