<div class="track-list-container">
  <div class="row">
    <div class="col-md-12 store-controls" #storeControls>
      <store-selector></store-selector>

      <div class="row subtabs">
        <div class="col-md-9">

          <ul class="nav nav-tabs">
            <li role="presentation" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link" [routerLink]="['/pages/tracks/crates']">Charts/Crates</a></li>
            <li role="presentation" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link" [routerLink]="['/pages/tracks/collections']">Featured  Collections</a></li>
            <li role="presentation" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link" [routerLink]="['/pages/tracks/download-queue']">My Download Queue</a></li>
            <li role="presentation" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link" [routerLink]="['/pages/tracks/library']">My Library</a></li>
            <li role="presentation" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link" [routerLink]="['/pages/tracks/transactions']">My Transactions</a></li>

          </ul>

        </div>
        <div class="col-md-3">
          <span>Credits: </span>
          <span class="tag tag-success" *ngIf="selectedCurrencyCreditBalance > 0">{{selectedCurrencyCreditBalance}}</span>
          <span class="tag tag-success" *ngIf="selectedCurrencyCreditBalance == 0">0</span>
          <span class="tag tag-success" *ngIf="selectedCurrencyCreditBalance == -1">&infin;</span>
                    <button class="btn btn-primary" (click)="packagePurchaseModalShow()" *ngIf="selectedCurrencyCreditBalance == 0">Buy More</button>

          <span *ngIf="tracks.totalRecords">Showing tracks {{ (tracks.currentPage - 1) * trackListFilters.rows }} - {{ (((tracks.currentPage) * trackListFilters.rows) < tracks.totalRecords) ? ((tracks.currentPage) * trackListFilters.rows) : tracks.totalRecords }} of {{tracks.totalRecords}}</span>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div *ngIf="activeTab == 'crates' ">

        <div class="sidebar" #sidebar style="overflow: hidden; overflow-y: scroll;">

          <p-accordion>
            <p-accordionTab header="Top Editors - This Month" [selected]="true">

              <div class="row" *ngFor="let ranking of charts.currentMonthRankings; let i = index;">
                <div class="col-md-12 collection-item" (click)="selectEditor(ranking.editor._id);" [ngStyle]="{'border-left-color': (selectedEditor == ranking.editor._id) ? this.currency.selectedCurrency.color : 'transparent' }" [ngClass]="{'active': (selectedEditor == ranking.editor._id ) }"
                  (mouseenter)="applyCurrencyHoverColor($event)" (mouseleave)="removeCurrencyHoverColorEditor($event, ranking.editor._id)">
                  <strong>{{i + 1}}. {{ranking.editor.stageName}}</strong><br/>

                </div>

              </div>

            </p-accordionTab>

            <!-- <p-accordionTab header="Top Editors - Last Month">
              <div class="row" *ngFor="let ranking of charts.lastMonthRankings; let i = index;">
                <div class="col-md-12 collection-item" (click)="selectEditor(ranking.editor._id);" [ngStyle]="{'border-left-color': (selectedEditor == ranking.editor._id) ? this.currency.selectedCurrency.color : 'transparent' }" [ngClass]="{'active': (selectedEditor == ranking.editor._id.toString() ) }"
                  (mouseenter)="applyCurrencyHoverColor($event)" (mouseleave)="removeCurrencyHoverColorEditor($event, ranking.editor._id)">
                  <strong>{{i + 1}}. {{ranking.editor.stageName}}</strong><br/>

                </div>

              </div>

            </p-accordionTab> -->

            <p-accordionTab header="Top Editors - All Time">
              <div class="row" *ngFor="let ranking of charts.allTimeRankings; let i = index;">
                <div class="col-md-12 collection-item" (click)="selectEditor(ranking.editor._id);" [ngStyle]="{'border-left-color': (selectedEditor == ranking.editor._id) ? this.currency.selectedCurrency.color : 'transparent' }" [ngClass]="{'active': selectedEditor == ranking.editor._id.toString() }"
                  (mouseenter)="applyCurrencyHoverColor($event)" (mouseleave)="removeCurrencyHoverColorEditor($event, ranking.editor._id)">
                  <strong>{{i + 1}}. {{ranking.editor.stageName}}</strong><br/>

                </div>

              </div>
            </p-accordionTab>
            <p-accordionTab header="Top Tracks Lists">

              <div class="row">
                <div class="col-md-12 collection-item" (click)="trackListFilters.sortField = 'last7DaysDownloadCount'; filterTrackList(); " [ngStyle]="{'border-left-color': (trackListFilters.sortField == 'last7DaysDownloadCount') ? this.currency.selectedCurrency.color : 'transparent' }"
                  [ngClass]="{'active': trackListFilters.sortField == 'last7DaysDownloadCount' }" (mouseenter)="applyCurrencyHoverColor($event)" (mouseleave)="removeCurrencyHoverColor($event, 'last7DaysDownloadCount')">
                  <strong>Top Tracks - Last 7 Days</strong><br/>

                </div>

              </div>

              <div class="row">
                <div class="col-md-12 collection-item" (click)="trackListFilters.sortField = 'last30DaysDownloadCount'; filterTrackList(); " [ngStyle]="{'border-left-color': (trackListFilters.sortField == 'last30DaysDownloadCount') ? this.currency.selectedCurrency.color : 'transparent' }"
                  [ngClass]="{'active': trackListFilters.sortField == 'last30DaysDownloadCount' }" (mouseenter)="applyCurrencyHoverColor($event)" (mouseleave)="removeCurrencyHoverColor($event, 'last30DaysDownloadCount')">
                  <strong>Top Tracks - Last 30 Days</strong><br/>

                </div>

              </div>

              <div class="row">

                <div class="col-md-12 collection-item" (click)="trackListFilters.sortField = 'last90DaysDownloadCount';  filterTrackList();" [ngStyle]="{'border-left-color': (trackListFilters.sortField == 'top-90-days') ? this.currency.selectedCurrency.color : 'transparent' }"
                  [ngClass]="{'active': trackListFilters.sortField == 'last90DaysDownloadCount' }" (mouseenter)="applyCurrencyHoverColor($event)" (mouseleave)="removeCurrencyHoverColor($event, 'last90DaysDownloadCount')">
                  <strong>Top Tracks - Last 90 Days</strong><br/>

                </div>

              </div>
              <!-- <div class="row">
                <div class="col-md-12 collection-item" (click)="loadCollection('top-last-month')" [ngStyle]="{'border-left-color': (selectedCollectionId == 'top-last-month') ? this.currency.selectedCurrency.color : 'transparent' }" [ngClass]="{'active': selectedCollectionId == 'top-last-month' }"
                  (mouseenter)="applyCurrencyHoverColor($event)" (mouseleave)="removeCurrencyHoverColor($event, 'top-last-month')">
                  <strong>Top Tracks - Last Month</strong><br/>

                </div>
              </div> -->
              <div class="row">
                <div class="col-md-12 collection-item" (click)="trackListFilters.sortField = 'allTimeDownloadCount'; filterTrackList();" [ngStyle]="{'border-left-color': (trackListFilters.sortField == 'allTimeDownloadCount') ? this.currency.selectedCurrency.color : 'transparent' }"
                  [ngClass]="{'active': trackListFilters.sortField == 'allTimeDownloadCount' }" (mouseenter)="applyCurrencyHoverColor($event)" (mouseleave)="removeCurrencyHoverColor($event, 'allTimeDownloadCount')">
                  <strong>Top Tracks - All Time</strong><br/>

                </div>

              </div>
            </p-accordionTab>
            <p-accordionTab header="My Crates">

              <div class="row" *ngFor="let crate of crates">
                <div *ngIf="crate.type == 'crate'">


                  <div class="col-md-8 collection-item" (click)="applyCrate(crate)" [ngStyle]="{'border-left-color': (selectedCollectionId == crate._id) ? this.currency.selectedCurrency.color : 'transparent' }" [ngClass]="{'active': selectedCollectionId == crate._id }"
                    (mouseenter)="applyCurrencyHoverColor($event)" (mouseleave)="removeCurrencyHoverColor($event, crate._id)">
                    <strong>{{crate.name}}</strong><br/>

                  </div>
                  <div class="col-md-4 collection-actions">
                    <a class="btn btn-lg action-button" *ngIf="crate.description" [tooltipster]="crate.description" tooltipsterPosition="top" tooltipsterEvent="hover"><i class="fa fa-info-circle tooltip-indicator"></i></a>

                    <a class="btn btn-lg action-button" alt="Delete Crate" title="Delete Crate" (click)="removeCrate(crate)">
                      <i class="fa fa-trash"></i>
                    </a>

                  </div>
                </div>
              </div>
            </p-accordionTab>
            <p-accordionTab header="Collections Followed">
              <div class="row" *ngFor="let crate of crates">

                <div *ngIf="crate.type == 'collection'">


                  <div class="col-md-7 collection-item" (click)="applyCrate(crate)" [ngStyle]="{'border-left-color': (selectedCollectionId == crate._id) ? this.currency.selectedCurrency.color : 'transparent' }" [ngClass]="{'active': selectedCollectionId == crate._id }"
                    (mouseenter)="applyCurrencyHoverColor($event)" (mouseleave)="removeCurrencyHoverColor($event, crate._id)">
                    <strong>{{crate.name}}</strong><br/>

                  </div>
                  <div class="col-md-5 collection-actions">
                    <a class="btn btn-lg action-button" *ngIf="crate.description" [tooltipster]="crate.description" tooltipsterPosition="top" tooltipsterEvent="hover"><i class="fa fa-info-circle tooltip-indicator"></i></a>

                    <a class="btn btn-lg action-button" alt="Delete Crate" title="Delete Crate" (click)="removeCrate(crate)">
                      <i class="fa fa-trash"></i>
                    </a>
                  </div>
                </div>
              </div>
            </p-accordionTab>
          </p-accordion>
          <!--<div class="row">
            <div class="col-md-8 collection-item" (click)="loadCollection('new-tracks-from-last-login')" [ngStyle]="{'border-left-color': (selectedCollectionId == 'new-tracks-from-last-login') ? this.currency.selectedCurrency.color : 'transparent' }" [ngClass]="{'active': selectedCollectionId == 'new-tracks-from-last-login' }"
              (mouseenter)="applyCurrencyHoverColor($event)" (mouseleave)="removeCurrencyHoverColor($event, 'new-tracks-from-last-login')">
              <strong>New Tracks Since Last Login</strong><br/>

            </div>
            <div class="col-md-4 collection-actions">
              <span class="tag tag-success float-right">0</span>
            </div>
          </div>-->



        </div>
      </div>
      <div *ngIf="activeTab == 'collections' ">
        <h3 class="sidebar-title">Select Collection</h3>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-warning col-md-12" *ngIf="activeTab != 'transactions'" (click)="clearCurrentCrate()" style="margin-top: 15px;">Show All Tracks</button>

          </div>
        </div>
        <div class="sidebar" #sidebar style="overflow: hidden; overflow-y: scroll;">
          <div class="row" *ngFor="let collection of collections">
            <div class="col-md-8 collection-item" (click)="loadCollection(collection._id)" [ngStyle]="{'border-left-color': (selectedCollectionId == collection._id) ? this.currency.selectedCurrency.color : 'transparent' }" [ngClass]="{'active': selectedCollectionId == collection._id }"
              (mouseenter)="applyCurrencyHoverColor($event)" (mouseleave)="removeCurrencyHoverColor($event, collection._id)">
              <strong>{{collection.name}}</strong><br/>
              <small><em>{{collection.editorOwner.stageName}}</em></small><br/>

              <small>{{collection.updatedAt | date: 'longDate' }}</small><br/>
              <small>DJs Following: {{collection.followers}} </small>

            </div>
            <div class="col-md-4 collection-actions">
              <a class="btn btn-lg action-button" [tooltipster]="collection.description" tooltipsterPosition="top" tooltipsterEvent="hover"><i class="fa fa-info-circle tooltip-indicator"></i></a>
              <a class="btn btn-lg action-button" alt="Save to My Crates" title="Save to My Crates" (click)="addCollectionToMyCrates(collection._id)"><i class="fa fa-plus-circle"></i></a>

            </div>
          </div>

        </div>

      </div>
      <div *ngIf="activeTab == 'download-queue'">
        <h3 class="sidebar-title">Actions</h3>
        <button class="btn btn-primary" (click)="selectAllTracks()">Select All</button> <br/>
        <br/>

        <button class="btn btn-primary" [disabled]="tracksSelected.length == 0" (click)="purchaseAndDownloadSelectedTracks(false)">Save To Library</button>
        <br/>
        <br/>
        <button class="btn btn-primary" [disabled]="tracksSelected.length == 0" (click)="purchaseAndDownloadSelectedTracks(true)">Save & Download</button>

      </div>
    </div>

    <div class="col-md-10">
      <div class="row">
        <div class="col-md-12 flex">
          <input class="form-control" style="flex: 12; margin-right: 3px;" [(ngModel)]="trackListFilters.textSearchField" placeholder="Search tracks by title, artist, version and original works" (keyup.enter)="trackListFilters.currentPage = 1; filterTrackList();"
          />

          <button class="btn btn-warning" style="flex: 1; margin-right: 3px;" *ngIf="activeTab != 'transactions'" (click)="trackListFilters.currentPage = 1; filterTrackList();"><i class="fa fa-search"></i> &nbsp;Search</button>

          <button class="btn btn-warning" style="flex: 1;  margin-right: 3px;" *ngIf="activeTab != 'transactions'" (click)="toggleFilterPanel()" [hidden]="showingTopTracks"><i class="fa fa-filter"></i> &nbsp;Filters</button>

                      <button class="btn btn-warning" style="flex: 1;  margin-right: 3px;" *ngIf="activeTab != 'transactions'" (click)="trackListFilters.sortField = 'publishDate'; trackListFilters.sortOrder = -1; trackListFilters.currentPage = 1; filterTrackList()">New Releases</button>

            <button class="btn btn-warning" style="flex: 1;  margin-right: 3px;" *ngIf="activeTab != 'transactions'" (click)="trackListFilters.sortField = 'allTimeDownloadCount'; trackListFilters.sortOrder = -1; trackListFilters.currentPage = 1; filterTrackList()">Top Downloads</button>

        </div>
      </div>


      <div class="filters-panel hide" [ngClass]="{'show': showFilters, 'hide': !showFilters }">
        <div class="row">
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-2">
                <p>Editors</p>
                <p-listbox [checkbox]="true" [multiple]="true" [options]="currencyEditors" [(ngModel)]="trackListFilters.editors" filter="filter" [style]="{'height':filterListBoxHeight, 'font-size': filterListBoxFontSize }"></p-listbox>

              </div>
              <div class="col-md-2">
                <p>BPM</p>

                <div class="form-group">

                  <input class="form-control column-filter" [(ngModel)]="trackListFilters.startBpm" type="number" step="1" min="0" maxlength="3" max="250" placeholder="Min" />
                  <input class="form-control column-filter" [(ngModel)]="trackListFilters.endBpm" min="0" max="250" step="1" maxlength="3" placeholder="Max" />
                </div>
                <p>Year</p>
                <div class="form-group">
                  <input class="form-control column-filter" [(ngModel)]="trackListFilters.minYear" type="number" step="1" min="1950" maxlength="4" [max]="this.currentYear" placeholder="Min" />
                  <input class="form-control column-filter" [(ngModel)]="trackListFilters.maxYear" min="1950" [max]="this.currentYear" step="1" maxlength="4" placeholder="Max" />
                </div>


              </div>
              <div class="col-md-2">
                <p>Keys</p>
                <p-listbox [checkbox]="true" [multiple]="true" [options]="keyList" [(ngModel)]="trackListFilters.keys" filter="filter" [style]="{'height':filterListBoxHeight, 'font-size': filterListBoxFontSize }"></p-listbox>

              </div>
              <div class="col-md-2">
                <p>Tags</p>
                <p-listbox [checkbox]="true" [multiple]="true" [options]="tagList" [(ngModel)]="trackListFilters.tags" filter="filter" [style]="{'height':filterListBoxHeight, 'font-size': filterListBoxFontSize }"></p-listbox>

              </div>
              <div class="col-md-2">
                <p>Genres</p>
                <p-listbox [checkbox]="true" [multiple]="true" [options]="genresList" [(ngModel)]="trackListFilters.genres" filter="filter" [style]="{'height':filterListBoxHeight, 'font-size': filterListBoxFontSize }"></p-listbox>

              </div>
              <div class="col-md-2">
                <p>Show Columns</p>
                <p-listbox [checkbox]="true" [multiple]="true" [options]="trackColumns" [(ngModel)]="trackColumnsSelected" [style]="{'height':filterListBoxHeight, 'font-size': filterListBoxFontSize }" (ngModelChange)="refreshTable()"></p-listbox>

              </div>

            </div>

          </div>
          <div class="col-md-2">
            <p>Manage Crates</p>
            <input type="text" class="form-control" name="crateName" [(ngModel)]="trackListFilters.name" placeholder="Crate name" />
            <button class="btn btn-sm col-md-12 btn-primary crate-button" *ngIf="activeTab != 'library'" (click)="trackListFilters.currentPage = 1; filterTrackList();">Apply Filters</button>
            <button class="btn btn-sm col-md-12 btn-primary crate-button" *ngIf="activeTab == 'library'" (click)="getLibraryForCurrency()">Apply Filters</button>

            <button class="btn btn-sm col-md-12 btn-primary crate-button" (click)="clearCurrentCrate()">Reset</button>
            <button class="btn btn-sm col-md-12 btn-primary crate-button" *ngIf="trackListFilters._id && activeTab != 'library'" (click)="updateCrate()" [disabled]="!trackListFilters.name || trackListFilters.name.length == 0">Update Crate</button>
            <button class="btn btn-sm col-md-12 btn-primary crate-button" *ngIf="trackListFilters._id && activeTab != 'library'" (click)="createCrate(true)" [disabled]="!trackListFilters.name || trackListFilters.name.length == 0">Save As New Crate</button>

            <button class="btn btn-sm col-md-12 btn-primary crate-button" *ngIf="!trackListFilters._id && activeTab != 'library'" (click)="createCrate()" [disabled]="!trackListFilters.name || trackListFilters.name.length == 0">Save New Create</button>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" *ngIf="activeTab != 'transactions'">

          <p-dataTable #trackTable *ngIf="displayTable" class="table track-list" sortField="publishDate" sortOrder="-1" scrollable="true" [value]="tracks.list" expandableRows="true" [lazy]="true" [totalRecords]="tracks.totalRecords" [emptyMessage]="trackListRestrictions || 'No tracks found.'"
            scrollWidth="100%" [rows]="50" [paginator]="!showingTopTracks" [pageLinks]="10" (onLazyLoad)="filterTrackList($event)" [responsive]="true" [rowsPerPageOptions]="[25,50,100]">
            <p-column [style]="{'width' : '25px' }" [hidden]="activeTab != 'download-queue'">

              <template let-col let-track="rowData" pTemplate="body">
              <p-checkbox name="tracks" [value]="track" [(ngModel)]="tracksSelected"></p-checkbox>

            </template>

            </p-column>

            <p-column header="Actions" [style]="{'width': '140px'}">

              <template let-col let-track="rowData" pTemplate="body">
                                  <div class="text-left" *ngIf="activeTab == 'download-queue'">
                    <i class="fa fa-play-circle bigger text-link" (click)="togglePlayPause(track)" *ngIf="(trackCurrentlyLoaded._id == track._id && !isPlayerPlaying) || trackCurrentlyLoaded._id != track._id"></i>
                    <i class="fa fa-pause-circle bigger text-link" (click)="togglePlayPause(track)" *ngIf="(trackCurrentlyLoaded._id == track._id && isPlayerPlaying)" ></i>
                    <i class="fa fa-trash text-link" (click)="removeTrackFromDownloadQueue(track)"></i>
                    <i class="fa fa-cloud-download text-link" (click)="downloadTrack(track, true)"></i>
                  </div>

              <div class="text-left" *ngIf="activeTab != 'download-queue' && activeTab != 'library'">
                <i class="fa fa-play-circle bigger text-link" (click)="togglePlayPause(track)" *ngIf="(trackCurrentlyLoaded._id == track._id && !isPlayerPlaying) || trackCurrentlyLoaded._id != track._id"></i>
                <i class="fa fa-pause-circle bigger text-link" (click)="togglePlayPause(track)" *ngIf="(trackCurrentlyLoaded._id == track._id && isPlayerPlaying)" ></i>
                <i class="fa text-link" [ngClass]="{'fa-check-circle': track.addedToDownloadQueue, 'fa-plus-circle' : !track.addedToDownloadQueue }" (click)="addTrackToDownloadQueue(track)"></i>
                
                <i class="fa fa-cloud-download text-link" (click)="downloadTrack(track, true)"></i>
                <i class="fa fa-list text-link" (click)="downloadTrack(track, false)"></i>

              </div>
                            <div class="text-left" *ngIf="activeTab == 'library'">
                <i class="fa fa-play-circle bigger text-link" (click)="togglePlayPause(track)" *ngIf="(trackCurrentlyLoaded._id == track._id && !isPlayerPlaying) || trackCurrentlyLoaded._id != track._id"></i>
                <i class="fa fa-pause-circle bigger text-link" (click)="togglePlayPause(track)" *ngIf="(trackCurrentlyLoaded._id == track._id && isPlayerPlaying)" ></i>

                <i class="fa fa-cloud-download text-link" (click)="downloadTrack(track, true)"></i>

              </div>
            </template>
            </p-column>



            <p-column *ngIf="isTrackColumnSelected('added')" field="publishDate" [sortable]="!showingTopTracks" header="Added">
              <template let-col let-track="rowData" pTemplate="body">
              {{ track[col.field] | date: 'MM/dd/y' }}
            </template>
            </p-column>
            <p-column *ngIf="isTrackColumnSelected('editor')" field="editorPrimaryName" filterMatchMode="in" [sortable]="!showingTopTracks" header="Editor" [style]="{'width': trackColumnWidths.editor + '%'}">
            </p-column>
            <p-column *ngIf="isTrackColumnSelected('artist')" field="artistPrimaryName" [sortable]="!showingTopTracks" header="Artist" [style]="{'width': trackColumnWidths.artist + '%', 'text-align':'left'}">

              <template let-col let-track="rowData" pTemplate="body">
              {{ track[col.field] }}<br/><span *ngIf="track.artistsFeaturedDisplayName" class="version-subtitle">{{ track.artistsFeaturedDisplayName }}</span>
            </template>
            </p-column>
            <p-column *ngIf="isTrackColumnSelected('bpm')" field="startBpm" [sortable]="!showingTopTracks" header="BPM" [style]="{'width': trackColumnWidths.bpm + '%' } ">
            </p-column>
            <p-column *ngIf="isTrackColumnSelected('key')" [sortable]="!showingTopTracks" header="Key" [style]="{'width': trackColumnWidths.key + '%' } ">
              <template let-col let-track="rowData" pTemplate="body">
              <span *ngIf="track?.inKey?.camelotKey">{{track?.inKey?.camelotKey}}<br/>{{track?.inKey?.musicKey}}</span>
              <span *ngIf="!track?.inKey">N/A</span>
            </template>

            </p-column>
            <p-column field="name" header="Title" [sortable]="!showingTopTracks" [style]="{'width': trackColumnWidths.title + '%' , 'text-align':'left'}">
              <template let-col let-track="rowData" pTemplate="body">
              {{ track[col.field] }}<br/><span class="version-subtitle">{{ track.version }}</span>
            </template>
            </p-column>
            <p-column *ngIf="isTrackColumnSelected('tags')" header="Tags" [style]="{'overflow': 'visible'}">

              <template let-col let-track="rowData" pTemplate="body">
              
              <p class="tag-item" *ngIf="track.cleanDirty" [style.color]="track.cleanDirty.color">{{track.cleanDirty.name}}</p>
              <p class="tag-item" *ngIf="track.versionType" [style.color]="track.versionType.color">{{track.versionType.name}}</p>
              <p class="tag-item" *ngIf="track.introType" [style.color]="track.introType.color">{{track.introType.name}}</p>
              <p class="tag-item" *ngIf="track.outroType" [style.color]="track.outroType.color">{{track.outroType.name}}</p>
              
            </template>

            </p-column>
            <p-column *ngIf="isTrackColumnSelected('genres')" header="Genres" [style]="{'overflow': 'visible'}">

              <template let-col let-track="rowData" pTemplate="body">
              <p class="well tag-item" *ngFor="let genre of track.genres">{{genre.name}}</p>
            </template>

            </p-column>

            <p-column *ngIf="isTrackColumnSelected('year')" field="releaseYear" [sortable]="!showingTopTracks" header="Year" [style]="{'width': trackColumnWidths.releaseYear + '%'}">
            </p-column>
            <p-column *ngIf="isTrackColumnSelected('time')" field="trackLength" [sortable]="!showingTopTracks" header="Time" [style]="{'width': trackColumnWidths.trackLength + '%'}">
              <template let-col let-track="rowData" pTemplate="body">
              
              {{ track.trackLength | secondsToTime }}
              
            </template>
            </p-column>
            <p-column expander="true" styleClass="col-icon" [style]="{'width' : '25px', 'text-align':'center' }"></p-column>

            <template let-track pTemplate="rowexpansion">
            <div class="row">
              <div class="col-md-12">
                <p class="text-left" *ngIf="track.description"><strong>Description</strong></p>
                <p class="text-left">{{track.description}}</p>
              </div>
              <div class="col-md-6" *ngIf="track.tracksInSameReleases && track.tracksInSameReleases.length > 0">
                                  <p class="text-left"><strong>You Also Get</strong></p>

                    <div class="text-left" *ngFor="let affiliatedTrack of track.tracksInSameReleases">
                      <p>{{affiliatedTrack?.formattedName}}                 
                      <i class="fa fa-play-circle bigger text-link" (click)="togglePlayPause(affiliatedTrack)" *ngIf="(trackCurrentlyLoaded._id == affiliatedTrack?._id && !isPlayerPlaying) || trackCurrentlyLoaded._id != affiliatedTrack?._id"></i>
                      <i class="fa fa-pause-circle bigger text-link" (click)="togglePlayPause(affiliatedTrack)" *ngIf="(trackCurrentlyLoaded._id == affiliatedTrack?._id && isPlayerPlaying)" ></i>                
                      <i class="fa fa-cloud-download text-link" (click)="downloadTrack(affiliatedTrack, true)"></i>
</p>
                </div>
                    
                
                
              </div>
              <div class="col-md-6">
                <p class="text-left"><strong>Original Works Included In This Edit Are</strong></p>
                <p class="text-left" *ngFor="let originalWork of track.originalWorks">
                  {{originalWork.displayName}}
                </p>
              </div>
              <div class="col-md-6">
                &nbsp;
              </div>
            </div>
          </template>

          </p-dataTable>
        </div>
        <div class="col-md-12" *ngIf="activeTab == 'transactions'">
          <p-dataTable #transactionTable class="table track-list" scrollable="true" [value]="transactions" expandableRows="true" [responsive]="true">
            <p-column field="name" header="Package"></p-column>
            <p-column field="basis" header="Basis"></p-column>
            <p-column field="startTime" header="Purchase Date">
              <template let-transaction="rowData" pTemplate="body">
                            {{ transaction.startTime | date: 'medium' }}
                          </template>
            </p-column>
            <p-column field="endTime" header="Valid Until">
              <template let-transaction="rowData" pTemplate="body">
                            {{ transaction.endTime | date: 'medium' }}
                          </template>

            </p-column>
            <p-column field="price" header="Price">
              <template let-transaction="rowData" pTemplate="body">
                            {{ transaction.price | currency:'USD':true:'1.2-2' }}
                          </template>
            </p-column>
            <p-column field="status" header="Payment Status">
              <template let-transaction="rowData" pTemplate="body">
                            {{ transaction.status }}
                          </template>
            </p-column>
            <template let-transaction pTemplate="rowexpansion">
            <div class="row">
              <div class="col-md-12">
                  <p *ngFor="let transactionItem of transaction.transactionItems">
                    Package Item: {{ transactionItem.name }}<br/>
                    Credits Included: {{ transactionItem.credits }}<br/>
                  </p>
                  <p>Transactions marked completed indicate payment has been received and credits have been applied to your account. Transactions marked pending mean payment has not cleared yet and credits have not yet been applied until we receive confirmation from PayPal. If you have any questions about this transaction, please email us at <a href="mailto:store@crooklynclan.net">store@crooklynclan.net</a>.</p>
              </div>
            </div>
          </template>
            <p-column expander="true" styleClass="col-icon" [style]="{'width' : '25px', 'text-align':'center' }"></p-column>

          </p-dataTable>
        </div>
      </div>
      <!--<p-contextMenu #cm [model]="contextMenuItemsForTableColumns"></p-contextMenu>-->

    </div>
  </div>
  <div bsModal #packagePurchaseModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" [config]="{backdrop: false}" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="hideModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
          <h4 class="modal-title">Buy more credits</h4>
        </div>
        <div class="modal-body">

          <div class="row packages-column">
            <div class="form-group col-md-6">
              <h2>One-Time</h2>
              <div *ngFor="let package of currencyPackages">
                <div *ngIf="package.basis == 'one-time'">
                  <p-radioButton name="selectedPackage" label="{{package.name}} {{package.credits}} for {{package.price | currency:'USD':true:'1.2-2' }}" [value]="package._id" [(ngModel)]="selectedPackageId"></p-radioButton>
                  <p>This package includes:</p>
                  <ul>
                    <li *ngFor="let packageItem of package.packageItems">{{packageItem.name}}</li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <h2>Recurring</h2>

              <div *ngFor="let package of currencyPackages">
                <div *ngIf="package.basis == 'recurring'">

                  <p-radioButton name="selectedPackage" label="{{package.name}} {{package.credits}} for {{package.price | currency:'USD':true:'1.2-2' }}" [value]="package._id" [(ngModel)]="selectedPackageId"></p-radioButton>
                  <p>This package includes:</p>
                  <ul>
                    <li *ngFor="let packageItem of package.packageItems">{{packageItem.name}}</li>
                  </ul>
                </div>
              </div>
            </div>


          </div>
          <div class="row">
            <div class="col-md-12">
            <div [hidden]="!currencyPackages || !currencyPackages.length > 0 || !selectedPackageId" class="form-group text-center">
              <div id="paypal-button"></div>
              <img class="img-responsive" src="/assets/img/card-mark.png" />

            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>