<store-selector></store-selector>

<div class="track-list-container">
  <div class="top-container" [class.hidden]="appState.get('topContainerIsHidden')">
    <ba-slider path="/assets/img/wide-slider/" [images]="wideSliderImages"></ba-slider>
    <div class="row padding-sm">
      <div class="col col-md-3 top-editors-column">
        <div class="top-header">Top editors</div>
        <div class="top-list">


          <div *ngFor="let ranking of charts.allTimeRankings">
            <a class="collection-item" (click)="selectEditor(ranking.editor._id);">
              {{i + 1}}. {{ranking.editor.stageName}}
            </a>
          </div>


        </div>

      </div>
      <div class="col col-md-6 audio-vault-column">
        <div class="top-header">{{selectedCurrency?.name}}</div>
        <ba-slider path="/assets/img/square-slider/" [images]="squareSliderImages"></ba-slider>
      </div>
      <div class="col col-md-3 top-collections-column">
        <div class="top-header">Top collections</div>
        <div class="top-list">
          <div class="row" *ngFor="let collection of collections">
            <div class="col-md-8 collection-item" (click)="loadCollection(collection._id)" [ngStyle]="{'border-left-color': (selectedCollectionId == collection._id) ? this.currency.selectedCurrency.color : 'transparent' }" [ngClass]="{'active': selectedCollectionId == collection._id }"
                 (mouseenter)="applyCurrencyHoverColor($event)" (mouseleave)="removeCurrencyHoverColor($event, collection._id)">
              <strong>{{collection.name}}</strong><br/>
              <small><em>{{collection.editorOwner.stageName}}</em></small><br/>

              <small>{{collection.updatedAt | date: 'longDate' }}</small><br/>
              <small>DJs Following: {{collection.followers}} </small>

            </div>
            <div class="col-md-4 collection-actions">
              <a class="btn btn-lg action-button" [tooltipster]="collection.description" tooltipsterPosition="top" tooltipsterEvent="hover"><i class="fa fa-info-circle tooltip-indicator"></i></a>
              <a class="btn btn-lg action-button" alt="Save to My Crates" title="Save to My Crates" (click)="addCollectionToMyCrates(collection._id)"><i class="fa fa-plus-circle"></i></a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-container">
    <div class="filters-container">
      <select (change)="genresSelectChange($event)">
        <option value="">All genres</option>
        <option *ngFor="let item of genresList" value="{{item.value}}">{{item.label}}</option>
      </select>
      <select (change)="topTracksSelectChange($event)">
        <option value="publishDate">All tracks</option>
        <option value="last7DaysDownloadCount">Top Tracks - Last 7 Days</option>
        <option value="last30DaysDownloadCount">Top Tracks - Last 30 Days</option>
        <option value="last90DaysDownloadCount">Top Tracks - Last 90 Days</option>
      </select>
      <input [(ngModel)]="trackListFilters.searchQuery" (keyup.enter)="search($event.target)" required placeholder="Search titles, versions, artists, and originals">
      <div class="filter-button white-border" (click)="search($event.target.previousElementSibling)">Search</div>
      <div class="filter-button white-border" (click)="toggleFilterPanel()">Filter</div>
      <div class="filter-button" [routerLink]="['/pages/tracks/library']" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">My library
      </div>
      <div class="filter-button" [routerLink]="['/pages/tracks/download-queue']" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">Download queue
      </div>
    </div>
    <div class="info-container">
      <span class="info-container-title">NOW VIEWING</span>
      <div class="selected-filters-container" *ngIf="trackListFilters">
        <div class="selected-filters-group" *ngFor="let editor of currencyEditors">
          <div class="filter-tag" *ngIf="trackListFilters.editors.includes(editor.value)">
            <a (click)="trackListFilters.editors.splice(trackListFilters.editors.indexOf(editor), 1)">X</a>
            {{editor.label}}
          </div>
        </div>

        <div class="selected-filters-group" *ngFor="let key of keyList">
          <div class="filter-tag" *ngIf="trackListFilters.keys.includes(key.value)">
            <a (click)="trackListFilters.keys.splice(trackListFilters.keys.indexOf(key), 1)">X</a>
            {{key.label}}
          </div>
        </div>

        <div class="selected-filters-group" *ngFor="let tag of tagList">
          <div class="filter-tag" *ngIf="trackListFilters.tags.includes(tag.value)">
            <a (click)="trackListFilters.tags.splice(trackListFilters.tags.indexOf(tag), 1)">X</a>
            {{tag.label}}
          </div>
        </div>

        <div class="selected-filters-group" *ngFor="let genre of genresList">
          <div class="filter-tag" *ngIf="trackListFilters.genres.includes(genre.value)">
            <a (click)="trackListFilters.genres.splice(trackListFilters.genres.indexOf(genre), 1)">X</a>
            {{genre.label}}
          </div>
        </div>
      </div>
      <div class="wallet-container">
        <span>Credits: </span>
        <span class="credits">{{selectedCurrencyCreditBalance}}</span>
        <a (click)="packagePurchaseModalShow()" *ngIf="selectedCurrencyCreditBalance == 0">
          Packages
        </a>
      </div>
    </div>

    <div class="filters-panel hide" [ngClass]="{'show': showFilters, 'hide': !showFilters }">
      <div class="row">
        <div class="col-md-10">
          <div class="row padding-sm">
            <div class="col-md-2">
              <p class="filter-title">By editors</p>
              <div class="filter-options">
                <ba-checkboxlist [options]="currencyEditors" [(ngModel)]="trackListFilters.editors"></ba-checkboxlist>
              </div>
              <!--<p-listbox [checkbox]="true" [multiple]="true" [options]="currencyEditors"-->
                         <!--[(ngModel)]="trackListFilters.editors" filter="filter"-->
                         <!--[style]="{'height':filterListBoxHeight, 'font-size': filterListBoxFontSize }"></p-listbox>-->

            </div>

            <div class="col-md-2">
              <p class="filter-title">By Keys</p>
              <div class="filter-options">
                <ba-checkboxlist [options]="keyList" [(ngModel)]="trackListFilters.keys"></ba-checkboxlist>
              </div>
            </div>
            <div class="col-md-2">
              <p class="filter-title">By Tags</p>
              <div class="filter-options">
                <ba-checkboxlist [options]="tagList" [(ngModel)]="trackListFilters.tags"></ba-checkboxlist>
              </div>
            </div>
            <div class="col-md-2">
              <p class="filter-title">Genres</p>
              <div class="filter-options">
                <ba-checkboxlist [options]="genresList" [(ngModel)]="trackListFilters.genres"></ba-checkboxlist>
              </div>
            </div>
            <div class="col-md-2">
              <p class="filter-title">Columns</p>
              <div class="filter-options">
                <ba-checkboxlist [options]="trackColumns" [(ngModel)]="trackColumnsSelected"></ba-checkboxlist>
              </div>

            </div>
            <div class="col-md-2">
              <p class="filter-title">By year</p>
              <div class="form-group">
                <input class="form-control column-filter" [(ngModel)]="trackListFilters.minYear"
                       step="1" min="1950" maxlength="4" [max]="this.currentYear" placeholder="Min"/>
                <input class="form-control column-filter" [(ngModel)]="trackListFilters.maxYear" min="1950"
                       [max]="this.currentYear" step="1" maxlength="4" placeholder="Max"/>
              </div>
              <p class="filter-title">By BPM</p>
              <div class="form-group">

                <input class="form-control column-filter" [(ngModel)]="trackListFilters.startBpm"
                       step="1" min="0" maxlength="3" max="250" placeholder="Min"/>
                <input class="form-control column-filter" [(ngModel)]="trackListFilters.endBpm" min="0" max="250"
                       step="1" maxlength="3" placeholder="Max"/>
              </div>



            </div>

          </div>

        </div>
        <div class="col-md-2">
          <!--<p>Manage Crates</p>-->

          <button class="filter-button col-md-12 crate-button" *ngIf="activeTab != 'library'"
                  (click)="filterTrackList()">Apply
          </button>
          <button class="filter-button col-md-12 crate-button" *ngIf="activeTab == 'library'"
                  (click)="getLibraryForCurrency()">Apply
          </button>

          <input type="text" class="form-control" name="crateName" [(ngModel)]="trackListFilters.name" placeholder="Name crate"/>

          <!--<button class="filter-button col-md-12 btn-primary crate-button" (click)="clearCurrentCrate()">Reset</button>-->
          <!--<button class="filter-button col-md-12 btn-primary crate-button"-->
          <!--*ngIf="trackListFilters._id && activeTab != 'library'" (click)="updateCrate()">Update Crate-->
          <!--</button>-->
          <button class="filter-button col-md-12 crate-button"
                  *ngIf="trackListFilters._id && activeTab != 'library'" (click)="createCrate(true)">Save
          </button>

          <button class="filter-button col-md-12 crate-button"
                  *ngIf="!trackListFilters._id && activeTab != 'library'" (click)="createCrate()">Save
          </button>

        </div>
      </div>
    </div>

    <div class="row padding-sm tracks-main-panel">




      <div class="col-md-2 track-panel-sidebar">

        <a (click)="cratesSidebarIsExpanded = !cratesSidebarIsExpanded"><h3 class="sidebar-title" [class.opened]="cratesSidebarIsExpanded">My crates</h3></a>
        <!--<div class="col-md-12">-->

        <div class="row" *ngFor="let crate of crates" [hidden]="!cratesSidebarIsExpanded">
          <div *ngIf="crate.type == 'crate'">


            <div class="col-md-8 collection-item" (click)="applyCrate(crate)" [ngStyle]="{'border-left-color': (selectedCollectionId == crate._id) ? this.currency.selectedCurrency.color : 'transparent' }" [ngClass]="{'active': selectedCollectionId == crate._id }"
                 (mouseenter)="applyCurrencyHoverColor($event)" (mouseleave)="removeCurrencyHoverColor($event, crate._id)">
              <strong>{{crate.name}}</strong><br/>

            </div>
            <div class="col-md-4 collection-actions">
              <a class="btn btn-lg action-button" *ngIf="crate.description" [tooltipster]="crate.description" tooltipsterPosition="top" tooltipsterEvent="hover"><i class="fa fa-info-circle tooltip-indicator"></i></a>

              <a class="btn btn-lg action-button" alt="Delete Crate" title="Delete Crate" (click)="removeCrate(crate)">
                <i class="fa fa-trash"></i>
              </a>

            </div>
          </div>
        </div>



        <a (click)="collectionsSidebarIsExpanded = !collectionsSidebarIsExpanded"><h3  [class.opened]="collectionsSidebarIsExpanded" class="sidebar-title">My collections</h3></a>


        <div class="row" *ngFor="let crate of crates"  [hidden]="!collectionsSidebarIsExpanded">

          <div *ngIf="crate.type == 'collection'">


            <div class="col-md-7 collection-item" (click)="applyCrate(crate)" [ngStyle]="{'border-left-color': (selectedCollectionId == crate._id) ? this.currency.selectedCurrency.color : 'transparent' }" [ngClass]="{'active': selectedCollectionId == crate._id }"
                 (mouseenter)="applyCurrencyHoverColor($event)" (mouseleave)="removeCurrencyHoverColor($event, crate._id)">
              <strong>{{crate.name}}</strong><br/>

            </div>
            <div class="col-md-5 collection-actions">
              <a class="btn btn-lg action-button" *ngIf="crate.description" [tooltipster]="crate.description" tooltipsterPosition="top" tooltipsterEvent="hover"><i class="fa fa-info-circle tooltip-indicator"></i></a>

              <a class="btn btn-lg action-button" alt="Delete Crate" title="Delete Crate" (click)="removeCrate(crate)">
                <i class="fa fa-trash"></i>
              </a>
            </div>
          </div>
        </div>

      </div>

      <div class="track-panel-table col-md-10">

        <!--<div >-->

        <ba-table *ngIf="activeTab != 'transactions'" class="responsive-table-wrap" [totalRecords]="tracks.totalRecords"
                  [value]="tracks.list"
                  [class.filter-active]="showFilters"
                  (onLazyLoad)="filterTrackList($event)"
                  [sortField]="'publishDate'" [sortOrder]="-1">

          <table>
            <thead #thead>
            <tr>
              <th name="added">
                <div>Actions</div>
              </th>
              <th *ngIf="trackColumnsSelected.includes('added')" name="publishDate" sortable="true">
                <div>
                  Added
                  <span class="ui-sortable-column-icon fa fa-fw fa-sort"></span>
                </div>
              </th>
              <th *ngIf="trackColumnsSelected.includes('editor')" name="editorPrimaryName" sortable="true">
                <div>
                  Editor
                  <span class="ui-sortable-column-icon fa fa-fw fa-sort"></span>
                </div>
              </th>
              <th *ngIf="trackColumnsSelected.includes('artist')" name="artistPrimaryName" sortable="true">
                <div>
                  Artist
                  <span class="ui-sortable-column-icon fa fa-fw fa-sort"></span>
                </div
                >
              </th>
              <th *ngIf="trackColumnsSelected.includes('bpm')" name="startBpm" sortable="true">
                <div>
                  BPM
                  <span class="ui-sortable-column-icon fa fa-fw fa-sort"></span>
                </div>
              </th>
              <th *ngIf="trackColumnsSelected.includes('key')" name="key" sortable="true">
                <div>
                  Key
                  <span class="ui-sortable-column-icon fa fa-fw fa-sort"></span>
                </div>
              </th>
              <th name="name" sortable="true">
                <div>
                  Name
                  <span class="ui-sortable-column-icon fa fa-fw fa-sort"></span>
                </div>
              </th>
              <th *ngIf="trackColumnsSelected.includes('tags')" name="tags">
                <div>Tags</div>
              </th>
              <th *ngIf="trackColumnsSelected.includes('genres')" name="genres">
                <div>Genres</div>
              </th>
              <th *ngIf="trackColumnsSelected.includes('year')" name="releaseYear" sortable="true">
                <div>
                  Year
                  <span class="ui-sortable-column-icon fa fa-fw fa-sort"></span>
                </div>
              </th>
              <th *ngIf="trackColumnsSelected.includes('time')" name="trackLength" sortable="true">
                <div>
                  Time
                  <span class="ui-sortable-column-icon fa fa-fw fa-sort"></span>
                </div>
              </th>
              <th>
                <div>
                  Info
                </div>
              </th>
            </tr>
            </thead>
            <tbody #tbody>
            <ng-container *ngFor="let item of tracks.list; trackBy: item?._id">
              <tr>
                <td class="cell-actions">
                    <span class="ui-cell-data">
                      <div class="text-right" *ngIf="activeTab == 'download-queue'">
                        <i class="fa fa-play-circle bigger text-link" (click)="togglePlayPause(item)"
                           *ngIf="(trackCurrentlyLoaded._id == item._id && !isPlayerPlaying) || trackCurrentlyLoaded._id != item._id"></i>
                        <i class="fa fa-pause-circle bigger text-link" (click)="togglePlayPause(item)"
                           *ngIf="(trackCurrentlyLoaded._id == item._id && isPlayerPlaying)"></i>
                        <i class="fa fa-trash text-link" (click)="removeTrackFromDownloadQueue(item)"></i>
                        <i class="fa fa-cloud-download text-link" (click)="downloadTrack(item, true)"></i>
                      </div>

                      <div class="text-right" *ngIf="activeTab != 'download-queue' && activeTab != 'library'">
                        <i class="fa fa-play-circle bigger text-link" (click)="togglePlayPause(item)"
                           *ngIf="(trackCurrentlyLoaded._id == item._id && !isPlayerPlaying) || trackCurrentlyLoaded._id != item._id"></i>
                        <i class="fa fa-pause-circle bigger text-link" (click)="togglePlayPause(item)"
                           *ngIf="(trackCurrentlyLoaded._id == item._id && isPlayerPlaying)"></i>
                        <i class="fa text-link"
                           [ngClass]="{'fa-check-circle': item.addedToDownloadQueue, 'fa-plus-circle' : !item.addedToDownloadQueue }"
                           (click)="addTrackToDownloadQueue(item)"></i>

                        <i class="fa fa-cloud-download text-link" (click)="downloadTrack(item, true)"></i>
                        <i class="fa fa-list text-link" (click)="downloadTrack(item, false)"></i>

                      </div>
                      <div class="text-right" *ngIf="activeTab == 'library'">
                        <i class="fa fa-play-circle bigger text-link" (click)="togglePlayPause(item)"
                           *ngIf="(trackCurrentlyLoaded._id == item._id && !isPlayerPlaying) || trackCurrentlyLoaded._id != item._id"></i>
                        <i class="fa fa-pause-circle bigger text-link" (click)="togglePlayPause(item)"
                           *ngIf="(trackCurrentlyLoaded._id == item._id && isPlayerPlaying)"></i>

                        <i class="fa fa-cloud-download text-link" (click)="downloadTrack(item, true)"></i>
                      </div>
                    </span>
                </td>
                <td *ngIf="trackColumnsSelected.includes('added')"><span class="ui-cell-data">{{item.createdAt | date: 'MM/dd/y'}}</span>
                </td>
                <td *ngIf="trackColumnsSelected.includes('editor')"><span class="ui-cell-data">{{currencyEditorsById[item.editor]}}</span>
                </td>
                <td *ngIf="trackColumnsSelected.includes('artist')" name="artist">
                    <span class="ui-cell-data">
                      {{ item.artistPrimaryName }}<br/><span *ngIf="item.artistsFeaturedDisplayName"
                                                             class="version-subtitle">{{ item.artistsFeaturedDisplayName }}</span>
                    </span>

                </td>
                <td *ngIf="trackColumnsSelected.includes('bpm')"><span class="ui-cell-data">{{item.startBpm}}</span>
                </td>
                <td *ngIf="trackColumnsSelected.includes('key')">
                    <span class="ui-cell-data">
                      <span
                        *ngIf="item?.inKey?.camelotKey">{{item?.inKey?.camelotKey}}<br/>{{item?.inKey?.musicKey}}</span>
                      <span *ngIf="!item?.inKey">N/A</span>
                    </span>
                </td>
                <td name="name">
                    <span class="ui-cell-data">
                      {{item.name}}<br/><span class="version-subtitle">{{ item.version }}</span>
                    </span>
                </td>
                <td *ngIf="trackColumnsSelected.includes('tags')">
                    <span class="ui-cell-data">
                      <p class="tag-item" *ngIf="item.cleanDirty" [style.color]="item.cleanDirty.color">{{item.cleanDirty.name}}</p>
                      <p class="tag-item" *ngIf="item.versionType" [style.color]="item.versionType.color">{{item.versionType.name}}</p>
                      <p class="tag-item" *ngIf="item.introType" [style.color]="item.introType.color">{{item.introType.name}}</p>
                      <p class="tag-item" *ngIf="item.outroType" [style.color]="item.outroType.color">{{item.outroType.name}}</p>
                    </span>
                </td>
                <td *ngIf="trackColumnsSelected.includes('genres')">
                    <span class="ui-cell-data">
                      <p class="well tag-item" *ngFor="let genre of item.genres">{{genre.name}}</p>
                    </span>
                </td>
                <td *ngIf="trackColumnsSelected.includes('year')"><span class="ui-cell-data">{{item.releaseYear}}</span>
                </td>
                <td *ngIf="trackColumnsSelected.includes('time')"><span class="ui-cell-data">{{ item.trackLength | secondsToTime }}</span>
                </td>
                <td>
                  <a name="{{item._id}}">
                    <span class="ui-row-toggler fa fa-fw ui-c"
                          [ngClass]="{'fa-chevron-circle-down': item.expanded, 'fa-chevron-circle-right': !item.expanded}"
                          (click)="item.expanded = !item.expanded"></span>

                  </a>

                  <!--<a href="#" *ngIf="col.expander" (click)="dt.toggleRow(rowData,$event)">-->
                  <!--<span class="ui-row-toggler fa fa-fw ui-c" [ngClass]="{'fa-chevron-circle-down':dt.isRowExpanded(rowData), 'fa-chevron-circle-right': !dt.isRowExpanded(rowData)}"></span>-->
                  <!--</a>-->
                </td>
              </tr>
              <tr class="expanded-row" [hidden]="!item.expanded">
                <td colspan="20">
                  <div class="text-left">
                    <strong>Description</strong>
                    <p>{{item.description}}</p>
                    <strong>Original Works Included In This Edit Are</strong>
                    <p class="text-left" *ngFor="let originalWork of item.originalWorks">
                      {{originalWork.displayName}}
                    </p>
                  </div>
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </ba-table>

        <!--</div>-->
        <div *ngIf="activeTab == 'transactions'">
          <p-dataTable #transactionTable class="table track-list" scrollable="true" [value]="transactions"
                       expandableRows="true" [responsive]="true">
            <p-column expander="true" styleClass="col-icon" [style]="{'width' : '25px' }"></p-column>
            <p-column field="name" header="Package"></p-column>
            <p-column field="basis" header="Basis"></p-column>
            <p-column field="startTime" header="Purchase Date">
              <template let-transaction="rowData" pTemplate="body">
                {{ transaction.startTime | date: 'medium' }}
              </template>
            </p-column>
            <p-column field="endTime" header="Valid Until">
              <template let-transaction="rowData" pTemplate="body">
                {{ transaction.endTime | date: 'medium' }}
              </template>

            </p-column>
            <p-column field="price" header="Price">
              <template let-transaction="rowData" pTemplate="body">
                {{ transaction.price | currency:'USD':true:'1.2-2' }}
              </template>
            </p-column>

            <template let-transaction pTemplate="rowexpansion">
              <div class="row">
                <div class="col-md-12">
                  <p *ngFor="let transactionItem of transaction.transactionItems">
                    Package Item: {{ transactionItem.name }}<br/>
                    Credits Included: {{ transactionItem.credits }}<br/>
                  </p>
                </div>
              </div>
            </template>

          </p-dataTable>
        </div>
      </div>
      <!--<p-contextMenu #cm [model]="contextMenuItemsForTableColumns"></p-contextMenu>-->

    </div>
  </div>


  <div bsModal #packagePurchaseModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" [config]="{backdrop: false}" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="hideModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
          <h4 class="modal-title">Buy more credits</h4>
        </div>
        <div class="modal-body">

          <div class="row packages-column">
            <div class="form-group col-md-6">
              <h2>One-Time</h2>
              <div *ngFor="let package of currencyPackages">
                <div *ngIf="package.basis == 'one-time'">
                  <p-radioButton name="selectedPackage" label="{{package.name}} {{package.credits}} for {{package.price | currency:'USD':true:'1.2-2' }}" [value]="package._id" [(ngModel)]="selectedPackageId"></p-radioButton>
                  <p>This package includes:</p>
                  <ul>
                    <li *ngFor="let packageItem of package.packageItems">{{packageItem.name}}</li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <h2>Recurring</h2>

              <div *ngFor="let package of currencyPackages">
                <div *ngIf="package.basis == 'recurring'">

                  <p-radioButton name="selectedPackage" label="{{package.name}} {{package.credits}} for {{package.price | currency:'USD':true:'1.2-2' }}" [value]="package._id" [(ngModel)]="selectedPackageId"></p-radioButton>
                  <p>This package includes:</p>
                  <ul>
                    <li *ngFor="let packageItem of package.packageItems">{{packageItem.name}}</li>
                  </ul>
                </div>
              </div>
            </div>


          </div>
          <div class="row">
            <div class="col-md-12">
            <div [hidden]="!currencyPackages || !currencyPackages.length > 0 || !selectedPackageId" class="form-group text-center">
              <div id="paypal-button"></div>
              <img class="img-responsive" src="/assets/img/card-mark.png" />

            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
