@import "../../../../theme/sass/conf/conf";

#track-list-component {

  .track-list i.fa {
    font-size:1.3rem;
  }

  .track-list td {
    border:none;
    vertical-align: middle;
    text-align: center;
  }

  .ui-multiselect-panel .ui-multiselect-item {

    display: inline-block;
    width: 49%;
    float: left;
    text-align: center;
    margin: 5px 0.5%;
    label {
      padding-left: 0px;
    }
    .ui-chkbox-box {
      display:none;
    }
  }

  .ui-multiselect .ui-multiselect-label {
    width: 250px;
  }

  .ui-datatable th.ui-state-default {
    background: black;
    color: white;
  }

  .ui-datatable th.ui-state-default {
    vertical-align: middle;
    padding: 15px 0px;
    font-size: 1.0rem;
    border:0;
  }

  @media (max-width: 1397px) {
    .ui-datatable th.ui-state-default {
      font-size: 0.8rem;
    }
  }

  .ui-datatable tr.ui-datatable-even {
  }

  .ui-datatable tr.ui-datatable-odd {
    

  }

  .tag-item {
    margin-bottom: 0px;
  }

  .bubble-container {
    display:inline-block;
    border: solid 1px;
    border-radius: 9px;
    padding: 8px 10px;
    text-transform: uppercase;
    margin: 0px 5px;
  }

  .search {

    text-shadow: none;
    color: #ffffff;
    font-size: 13px;
    line-height: 25px;
    vertical-align: middle;
    transition: all 0.5s ease;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    max-width:25%;
    padding: 3px 10px;


    label {
      cursor: pointer;
    }

    i {
      width: 16px;
      display: inline-block;
      cursor: pointer;
      padding-left: 1px;
      font-size: 16px;
      margin-right: 13px; }
      input {
        background: none;
        border: none;
        outline: none;
        width: 95%;
        padding: 0;
        margin: 0 0 0 -3px;
        height: auto; }
      }


      #track-list-features  {
        padding-bottom: 10px;
        input {
          text-transform: uppercase;
          text-align: center;
        }
      }

      #track-list-features .ui-datatable tbody > tr.ui-widget-content {
        height: 100px;
      }

      .btn {
        text-transform:uppercase;
      }
      .btn.btn-link {
        border: solid 1px #ddd;
        color: white;
        border-radius: 9px;
        &:hover {
          border-color: #999;
        }
      }

      .text-purple {
        color: #903f8c;
      }

    }

.modal {
      top: 150px;
      z-index:9999999999;
      &.fade.in {
        background-color: rgba(0,0,0,0.8);
      }
      .modal-dialog {
        margin-top: 0px;
      }
      .modal-body {
        overflow: auto;
      }
      .modal-header .fa-play-circle,
      .modal-header .fa-pause-circle {
        float: right;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 1;
        color: white;
        text-shadow: 0 1px 0 #fff;
        margin-top: -2px;
        margin-right: 5px;
      }
      .modal-header .save-button {
        float:right;
        font-size: 1rem;
        line-height: 1;
        color: white;
        margin-right: 5px;
        .fa-save {
          padding: 0px 3px;
        }
      }
}

.modal-content {
  background-color: #000000;
  color: white;
    border: white 1px solid;

}
  .modal-content .close {
    opacity: 1;

    span {
    color: white;
  }
}

.modal-content select {
  background-color: black;
      width: 100%;
    padding: 0px;
    height: 40px;
}

.crate-editor {
    -webkit-transition: height 0.2ms ease-in-out;
    -moz-transition: height 0.2ms ease-in-out;
    -ms-transition: height 0.2ms ease-in-out;
    -o-transition: height 0.2ms ease-in-out;
    transition: height 0.2ms ease-in-out;
    height: 0;
    visibility:hidden;

  &.show {
    height: auto;
    visibility: visible;
  }

}

.form-control.column-filter {

    font-size: 12px;
    padding: 5px 5px;

}

p-radiobutton {
    display: block;
}

.nav {
  &.nav-tabs {
    display:flex;

    .nav-item {
      text-align:center;
      flex:1;
      
      .nav-link {
        padding: 5px 0;
      }
    }
    
    &.nav-stacked {
      &.crate-list {
        margin-top:15px;
        li {
                      padding: 5px;
                      &.active {
                        border: solid 1px white;
                      }

          &.nav-item {
            text-align:left;
            
            .float-right {
              float:right;
            }
          }
        }
      }
    }
  }
  
  .nav-item + .nav-item {
    margin-left: 0;
  }
}

.filters-panel {
  transition: opacity 300ms, height 300ms;
  overflow:hidden;
  
  &.hide {
    height: 0px;
  }
  
  &.show {
    height: 250px;
  }
  
}

.sidebar-title {
  margin-top: 15px;
}

.nav.nav-tabs.nav-stacked {
  display:block;
  li {
    cursor: pointer;
    border: none;
      display:block;
  float:none;

  }
  
}

.collection-item {
  opacity: 0.7;
  margin-top: 10px;
  border-left: solid 5px transparent;
  padding-left: 10px;
  cursor: pointer;
  &:hover {
    opacity: 1.0;
  }
  &.active {
    opacity: 1.0;
  }
}

.action-button {
  padding:0;
  opacity: 0.7;
  &:hover {
    opacity: 1.0;
  }
}

.version-subtitle {
  color: #9e4d4d;
}

.collection-actions  {
  text-align:right;
    margin-top: 10px;

}

.crate-button {
  margin-bottom: 2px;
}

.subtabs {
  
  margin-top: 2px;
  
}

.tracks-main-panel {
  
  display: table;
  height: 100%;
  
  .track-panel-sidebar {
    display: table-cell;
    height: calc(100% - 15px);
    overflow-y: scroll;
    margin-top: 15px;
  }
  
}