@import 'sass/conf/conf';
@import 'sass/preloader';
@import 'sass/ionicons';

#no-mobile {
    display:none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99999999;
    top: 0;
    background: black;
    color: white;
    text-align: center;
    
}
@media (max-width: 967px) {
    #no-mobile {
        display: block;
    }
}


body {
  background: #000000;
}

.fixed-height-top {
  height: 150px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  padding: 1px 32px 8px 25px;
}

.fixed-height-nav {
  height: calc(100vh - 200px);
  overflow: hidden;
  position: fixed;
  width: 100%;
  bottom: 25px;
}

.is-editor.fixed-height-body {
  height: calc(100vh - 250px);
  overflow: hidden;
  position: fixed;
  width: 100%;
  bottom: 25px;
}

.is-member.fixed-height-body {
  height: calc(100vh - 190px);
  overflow: hidden;
  position: fixed;
  width: 100%;
  bottom: 25px;
}

datepicker {
  position: absolute;
  left: 0px;
  background-color: black;
}

td[id^="datepicker-"] {
  padding: 0px!important;
  button {
    border: none!important;
  }
}

.tab-content {
  padding: 8px 0px!important;
}

.tab-content .tab-pane p {
  margin-bottom: 0px;
}
.nav-tabs .nav-item + .nav-item { margin-left:0!important};
.editor-tabs {
  .nav.nav-justified.nav-tabs {
    display: flex;
    .nav-item {
      flex: 1;
      text-align:center;
    }
    .nav-item + .nav-item {
    }
  }
}

.uploader-controller .al-sidebar {
  .nav.nav-justified.nav-tabs {
    display: flex;
    flex-flow: row wrap;
    .nav-item {
      flex-basis: 100%;
      text-transform:uppercase;
      margin-left: 0px;
      text-align: center;
      float:none;
    }
  }
}


.uploader-tabs {
  .nav.nav-justified.nav-tabs {
    display: flex;
    .nav-item {
      flex:1;
      margin-left: 0px;
      text-align: center;
      float:none;
    }
  }
}
.track-list-container {
  .nav.nav-justified.nav-tabs {
    display: flex;
    .nav-item {
      float: none;
      text-align: center;
      flex: 1;
    }
  }
}

.track-list-container {
  .chart-list {
    .nav.nav-justified.nav-tabs {
      display: flex;
      .nav-item {
        float: none;
        display: table-cell;
        box-sizing: border-box;
        text-align: center;
        flex: 1;
      }
    }
  }
}

.nav.nav-tabs {
  background-color: black;
  .nav-item {
    font-size: 18px;
    line-height: 1em;
    position: relative;
    border: solid 1px rgba(255,255,255,0.15);
    border-right: none;
    &:last-child {
border-left: solid 1px rgba(255,255,255,0.15);
    border-right: solid 1px rgba(255,255,255,0.15);
    }
    .nav-link {
      .tag {
        /*
        position: absolute;
        right: 25px;*/
        color: black;
        display: inline-block;
        vertical-align: text-bottom;
      }
    }
  }
}

.nav-tabs .nav-item.active,
.nav-tabs .nav-item.active .nav-link:hover {
  color: white;
  background-color: #001e5c;
}

.nav-tabs .nav-item:hover {
    background-color: #001e5c;

}

.nav-tabs .nav-item .nav-link:hover {
  background-color:transparent!important;
}

.ui-spinner {
  width: 100%;
  padding: 0px;
  .ui-inputtext {
    padding: 0px;
  }
  .ui-widget {
    background: transparent;
    color: white;
    border: none;
  }
  .ui-spinner-input {
    width: 100%;
    text-align: left;
    margin-top: 0px;
  }
  .ui-button,
  .ui-button.ui-state-default {
    border-color: #001e5c!important;
    background-color: #001e5c!important;
    &:focus {
      outline: none;
    }
  }
}

.ui-datatable .ui-state-default {
  background: #141414!important;
  color: white!important;
}

.ui-datatable .ui-state-default,
.ui-datatable thead tr {
  border: none!important;
}

.ui-datatable .ui-state-default,
.ui-datatable thead tr.ui-widget-content th {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.0rem;
  &:first-child {
    border-radius: 7px 0px 0px 0px;
  }
  &:last-child {
    border-radius: 0px 7px 0px 0px;
  }
  border: 0;
  white-space: inherit;
  color: white;
  &:focus {
    outline: 0;
  }
}

.ui-datatable .ui-state-default {
  padding-top: 0px;
  padding-bottom: 10px;
}

uploader .ui-datatable tbody tr.ui-widget-content td {
  height: 8vh;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.0rem;
  border: 0;
}

.ui-datatable.ui-widget {
  overflow: hidden;
}

.ui-datatable-scrollable-body {
  //  width: calc(100% + 15px);
}

.ui-datatable thead th,
.ui-datatable tbody td,
.ui-datatable tfoot td,
.ui-datatable tfoot th {
  border: 0!important;
}

.ui-datatable thead th:first-child {
}

.ui-datatable .ui-datatable-even {
  background-color: #313131;
  color: white!important;
}

.ui-datatable .ui-datatable-odd {
  background-color: #313131;
  color: white!important;
}

.ui-datatable th.ui-state-default {
  color: white!important;
}

.table>thead>tr>th:first-child {
}

.table>tbody>tr>td:first-child {

}

.ui-datatable-scrollable-header-box {
  margin-right: 0px!important;
  margin-top: 15px;
}

/*
Originally requested removal of scrollbar 9/23/16
Restored default scrollbar on 6/8/17
.ui-datatable-scrollable-body {
  &::-webkit-scrollbar {
    width: 0;
  }
}*/

.ui-datatable .ui-sortable-column-icon {
  display: inline!important;
  margin: -3px 0 -3px 2px!important;
}

.track-editor-modal .ui-autocomplete {
  position: static!important;
}

.track-editor-modal .ui-autocomplete-panel {
  top: 65px !important;
  left: 0px !important;
  width: 100%!important;
}

.track-editor-modal .ui-autocomplete-panel .ui-autocomplete-list {
  background: black;
  color: white;
}

#track-list-features {
  padding-bottom: 10px;
  input {
    text-transform: uppercase;
    text-align: center;
  }
  .search {
    text-shadow: none;
    color: #ffffff;
    font-size: 13px;
    line-height: 25px;
    vertical-align: middle;
    transition: all 0.5s ease;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    max-width: 25%;
    padding: 3px 10px;
    label {
      cursor: pointer;
    }
    i {
      width: 16px;
      display: inline-block;
      cursor: pointer;
      padding-left: 1px;
      font-size: 1.0rem;
      margin-right: 13px;
    }
    input {
      background: none;
      border: none;
      outline: none;
      width: 95%;
      padding: 0;
      margin: 0 0 0 -3px;
      height: auto;
    }
  }
  #track-columns-selector {
    .ui-overlaypanel {
      top: 50px!important;
      left: 15px!important;
      background: black;
      h3 {
        color: white;
      }
    }
    .ui-button {
      width: 100px;
      &.ui-state-default {
        background-color: #000934;
        border-color: #000934;
        color: white;
      }
      &.ui-state-active,
      &.ui-state-hover {
        background-color: #001264;
        border-color: #001264;
      }
      padding: 5px 10px;
      margin: 2px 0px;
      color: white;
    }
  }
}

#track-list-features .ui-datatable tbody>tr.ui-widget-content {
  height: 100px;
}

.ui-widget-content {
  border-top: solid 5px black!important;
  border-bottom: solid 5px black!important;
  border-right: none!important;
  border-left: none!important;
}

.bubble-container {
  background-color: transparent;
  display: inline-block;
  border: solid 1px;
  border-radius: 9px;
  padding: 8px 10px;
  text-transform: uppercase;
}

@media (max-width: 1280px) {
  .nav.nav-tabs {
    .nav-item {}
  }
  uploader .ui-datatable tbody tr.ui-widget-content td,
  uploader .ui-datatable tbody tr.ui-widget-content th {}
}

.ui-cell-data *[class*="fa-"] {
  font-size: 1.4em!important;
  padding: 0px 5px;
  cursor: pointer;
  opacity: 0.7;
  &:hover {
    opacity: 1.0;
  }
}

@media (max-width: 1200px) {
  .ui-cell-data i[class*="fa-"] {
    font-size: 18px!important;
  }
}

uploader tr.ui-widget-content+tr {
  background-color: black;
  color: white;
}

#track-list-component tbody tr.ui-widget-content td {
  vertical-align: middle;
  padding: 3% 10px;
}

.form-control.ui-inputtext {
  padding: 6px 12px!important;
}

.modal-backdrop {
  z-index: -1!important;
}

.nav-tabs .nav-item.disabled .nav-link,
.nav-tabs .nav-item.disabled .nav-link:hover {
  color: #b8b8b8;
  background-color: transparent;
  border-color: transparent;
}

.nav-item.disabled {
  background-color: grey!important;
  cursor: not-allowed;
}

.nav-tabs .nav-item.disabled .nav-link,
.nav-tabs .nav-item.disabled .nav-link:hover {
    cursor: not-allowed;

}

.ui-widget-header {
  background: none!important;
}

.ui-growl-message {
  width: 80%;
}

.ui-growl-image {
  margin-left: 0px;
}

.ui-growl-item p {
  
  word-wrap: break-word;
  
}

.form-control:focus {
  color: white!important;
}

.fa-check {
  &:before {
    font-size: 15px;
    margin-left: -4px;
    display: block;
    margin-top: 0px;
  }
}

.ui-chkbox {
  margin-top: -2px;
}

.tab-heading-justify-spacing {
  &>.nav-link {
    &>span {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }
}

.uploader-tabs {
  .nav.nav-tabs>li>a {
    width: 100%;
  }
  .nav.nav-tabs>li>a {
    border: solid 1px transparent!important;
  }
  .nav.nav-tabs>li>a:hover {}
}

.track-editor-modal .copy-from-autocomplete {
  .ui-autocomplete {
    position: relative!important;
  }
  .ui-autocomplete-panel {
    top: 35px!important;
  }
}

.ui-datatable thead th,
.ui-datatable tfoot td {
}

.ui-datatable thead th:last-child,
.ui-datatable tfoot td:last-child {
}

.publish-tracks-and-zips .ui-datatable thead th {
  text-align: center!important;
}

.container-1600 {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.ui-datatable-emptymessage {
  background: black!important;
  color: white!important;
}

.track-checkbox {
  .ui-chkbox {
    margin-right: -10px;
  }
}

.ui-row-toggler {
  color: white!important;
  opacity: 0.7;
  &:hover {
    opacity: 1.0;
  }
}

.tag.tag-success {
  color: black!important;
}

.ui-accordion {
   ::-webkit-scrollbar-thumb {
    background: transparent;
  }
   ::-webkit-scrollbar {}
}

.ui-accordion .ui-accordion-header.ui-state-default,
.ui-accordion .ui-accordion-header.ui-state-active {
  border: solid 1px transparent;
  background: transparent!important;
  color: white!important;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: white!important;
}

.ui-accordion-content.ui-widget-content {
  background: transparent;
  color: white;
}

.tag-success,
.btn-success {
  background-color: #5cb85c!important;
}

#player_videojs.video-js .vjs-control-bar {
  position: absolute;
  display: block;
  height: 125px;
  background-color: black;
}

#player_videojs.video-js .vjs-volume-menu-button,
#player_videojs.video-js .vjs-current-time,
#player_videojs.video-js .vjs-time-control,
#player_videojs.video-js .vjs-remaining-time,
#player_videojs.video-js .vjs-fullscreen-control,
#player_videojs.video-js .vjs-play-control,
#player_videojs.video-js .vjs-big-play-button {
  display: none;
}

#player_videojs.video-js.vjs-control-bar .vjs-progress-holder {
  height: 125px;
}

#player_videojs.video-js.vjs-has-started.vjs-user-inactive .vjs-control-bar {
  visibility: visible;
  opacity: 1;
}

#player_videojs.video-js .vjs-progress-holder {
  width: 100%;
  height: 125px;
  background-color: transparent;
  .vjs-play-progress {
    background: rgba(0, 0, 0, 0.4);
    height: 125px;
  }
}

#player_videojs.video-js .vjs-play-progress:before {
  display: none;
}

#player_videojs.video-js .vjs-control-bar {
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#player_videojs.video-js .vjs-control {
  width: 100%;
}

#player_videojs.video-js .vjs-progress-control {
  width: 100%;
  min-width: auto;
}

#player_videojs.video-js .vjs-progress-holder .vjs-load-progress {
  display: none;
}

#player_videojs.video-js .vjs-slider {
  margin: 0;
}

#mediaplayer-container.audio #player_videojs.player_videojs-dimensions {
  width: 0px;
}

#mediaplayer-container.audio #player_videojs.video-js .vjs-control-bar {
  left: 15px;
}

#mediaplayer-container.audio .vjs-loading-spinner {
  display: none;
}

.ui-datatable-scrollable-header {
  overflow: visible!important;
}

p-multiselect {
  .ui-multiselect-panel.ui-widget.ui-widget-content.ui-corner-all.ui-shadow {
    top: 25px!important;
  }
  .ui-multiselect .ui-multiselect-trigger {
    height: auto!important;
  }
  .ui-state-default {
    padding-bottom: 0px;
  }
  .ui-multiselect label {
    margin-bottom: 0px!important;
  }
}

.page-uploader .currency-counts {
  display: none;
}

.table thead th {
  vertical-align: middle!important;
}

input.column-filter {
  background-color: black;
  &:focus {
    background-color: black;
    color: white;
  }
}

.table .ui-datatable .ui-state-default.ui-multiselect {
  padding-bottom: 0px!important;
}

.table .ui-widget-content {
}

.ui-datatable-resizable thead th,
.ui-datatable-resizable tbody td,
.ui-datatable-resizable tfoot td {
  white-space: inherit!important;
}

.ui-listbox {
  width: auto!important;
}

.ui-listbox-header .ui-listbox-filter-container {
  width: auto!important;
}

p-dataList .ui-datalist-data {
  color: white;
}

p-dataList .ui-datalist-header.ui-widget-header.ui-corner-top {
  color: white;
}

p-dataList .ui-widget-content {
  background-color: black;
}

p-datatable {
  th {
          font-size: 12px!important;
        text-align: center;
    vertical-align: middle!important;

  }
  .ui-datatable-scrollable-body tr {
        height: 8vh!important;
  }
  td {
    vertical-align: middle!important;
            text-align: center;

    .ui-cell-data {
      font-size: 12px!important;
      .tag-item {
        font-size: 8px;
        text-transform: uppercase;
        line-height: 10px;
        margin: 3px 0px;
      }
    }
  }
}

div.ui-datatable-scrollable-wrapper {
  overflow-x: scroll;
}

div.ui-datatable-scrollable-view{
  min-width: 1100px;
}

.publish-tracks-and-zips .ui-datatable-scrollable-view {
  min-width: 100%;
}

.ui-paginator-bottom.ui-paginator.ui-widget.ui-widget-header.ui-unselectable-text {
  border:none;
}


ul.footer-links {
    display: flex;
    list-style-type: none;
    width: 100vw;
    text-align: center;
    li {
      flex: 1;
      color: white;
      a {
        color:white;
        text-decoration: underline!important;
      }
  }
}

.ui-paginator-page.ui-paginator-element.ui-state-default.ui-corner-all.ui-state-active {
  background: white!important;
  color: black!important;
}


.track-list-container .ui-accordion .ui-accordion-header.ui-state-default, 
.track-list-container .ui-accordion .ui-accordion-header.ui-state-active {
    font-size: 16px;
    font-weight: bold;
}

.btn.btn-warning {
  color:black!important;
}

.btn.btn-warning:hover {
  background: white!important;
  border-color:white!important;
  color:black!important;
}


.video #player_videojs .vjs-control-bar {
  width:calc(100% - 230px)!important;
  left:initial!important;
  right:0!important;
}

.ui-radiobutton-label {
  
  font-weight: bold!important;
  
}