<div class="container">
  <h1>Sign up</h1>
  <p *ngIf="account?.response?.status == 'created'">Thank you for signing up! We need to verify your email account, so we've sent you a message at {{account.response.emailToVerify}}. Click the link inside to confirm that it's really you.</p>
  <form #accountData="ngForm" (ngSubmit)="createUser()" method="post" *ngIf="account?.response?.status != 'created'">
    <div class="form-group">
      <input type="email" class="form-control has-feedback" [ngClass]="{'has-success': email.valid, 'has-error': !email.valid}" [(ngModel)]="user.email" name="email" placeholder="Email Address" ngControl="email" #email="ngModel" required>
      <span *ngIf="!email.valid && !email.pristine" class="alert alert-danger help-block">Email is required</span>

    </div>
    <div class="form-group">
      <input type="password" class="form-control" [(ngModel)]="user.password" placeholder="Password" name="password" ngControl="password" #password="ngModel"  required>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" [(ngModel)]="user.password_confirm" placeholder="Confirm Password" name="password_confirm" ngControl="passwordConfirm" #passwordConfirm="ngModel"  required>
      <span *ngIf="!password.valid && !passwordConfirm.valid && !password.pristine && !passwordConfirm.pristine" class="alert alert-danger help-block">Passwords do not match.</span>
    </div>
    <div class="form-group">
      <input type="text" ngControl="name" class="form-control" [(ngModel)]="user.name.first" placeholder="First Name" name="name[first]" ngControl="firstName" #firstName="ngModel" required>
      <span *ngIf="!firstName.valid && !firstName.pristine" class="alert alert-danger help-block">First name is required.</span>
    </div>
    <div class="form-group">
      <input type="text" ngControl="name" class="form-control" [(ngModel)]="user.name.last" name="name[last]"  placeholder="Last Name"  ngControl="lastName" #lastName="ngModel" required>
      <span *ngIf="!lastName.valid && !lastName.pristine" class="alert alert-danger help-block">Last name is required.</span>

    </div>
      <div class="row form-group">
        <div class="col-md-12">
          <input type="text" class="form-control" [(ngModel)]="user.address.country" name="address[country]" placeholder="Country" ngControl="addressCountry" #addressCountry="ngModel" required>
          <span *ngIf="!addressCountry.valid && !addressCountry.pristine" class="alert alert-danger help-block">Country is required.</span>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-md-12">
          <input type="text" class="form-control" [(ngModel)]="user.address.street1" name="address[street1]" placeholder="Street Address" ngControl="addressStreet1" #addressStreet1="ngModel" required>
          <span *ngIf="!addressStreet1.valid && !addressStreet1.pristine" class="alert alert-danger help-block">Street address is required.</span>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-md-12">
          <input type="text" class="form-control" [(ngModel)]="user.address.street2" name="address[street2]" placeholder="Apt #, Suite #, etc." ngControl="addressStreet2" #addressStreet2="ngModel">
        </div>
      </div>

      <div class="row form-group">
        <div class="col-md-6">
          <input type="text" class="form-control" [(ngModel)]="user.address.suburb" name="address[suburb]" placeholder="City" ngControl="addressSuburb" #addressSuburb="ngModel" required>
          <span *ngIf="!addressSuburb.valid && !addressSuburb.pristine" class="alert alert-danger help-block">City is required.</span>
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" [(ngModel)]="user.address.state" name="address[state]" placeholder="State" ngControl="addressState" #addressState="ngModel" required>
          <span *ngIf="!addressState.valid && !addressState.pristine" class="alert alert-danger help-block">State is required.</span>
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control" [(ngModel)]="user.address.postcode" name="address[postcode]" placeholder="ZIP Code"  ngControl="addressPostcode" #addressPostcode="ngModel" required>
          <span *ngIf="!addressPostcode.valid && !addressPostcode.pristine" class="alert alert-danger help-block">ZIP Code is required.</span>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-8">
          <input type="text" class="form-control" [(ngModel)]="user.stageName" name="stageName" placeholder="Performance / DJ Name"  ngControl="stageName" #stageName="ngModel" required>
          <span *ngIf="!stageName.valid && !stageName.pristine" class="alert alert-danger help-block">ZIP Code is required.</span>
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control" [(ngModel)]="user.yearStarted" name="yearStarted" placeholder="Year Started" ngControl="yearStarted" #yearStarted="ngModel" required>
          <span *ngIf="!yearStarted.valid && !yearStarted.pristine" class="alert alert-danger help-block">ZIP Code is required.</span>
        </div>
      </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
