<div class="track-list-container">
  <div class="row">
    <div class="col-md-12 store-controls">
      <store-selector></store-selector>
      <div class="row">
        <div class="col-md-12">

          <p-dropdown [options]="accountingPeriods" [(ngModel)]="selectedAccountingPeriod" [style]="{'width': 'auto'}"></p-dropdown>
          <button class="btn btn-primary" (click)="selectAccountingPeriod()">Show Period</button>
          <button class="btn btn-primary" (click)="toggleFilterPanel()"><i class="fa fa-filter"></i></button>
          Earnings: {{ accountingData?.earnings | currency:'USD':true:'1.2-2' }} 
          Upload Count: {{ accountingData?.trackUploadCount }} 
          Currency Quota: {{ accountingData?.currencyUploadQuotaToQualifyForEarnings }} 
          Quota Met? {{ accountingData?.metQuota }} 
          Expected Payout: 
          <span *ngIf="accountingData?.metQuota">{{ accountingData?.earnings | currency:'USD':true:'1.2-2' }} </span>
          <span *ngIf="!accountingData?.metQuota">$0.00 (quota not met)</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="filters-panel hide" [ngClass]="{'show': showFilters, 'hide': !showFilters }">
        <div class="row">
          <div class="col-md-6">
            <div>
              <p>Title</p>
              <div class="form-group">
                <input class="form-control column-filter" type="text" [(ngModel)]="trackListFilters.trackName" />
              </div>
            </div>
            <div>
              <p>Artists</p>
              <div class="form-group">
                <input class="form-control column-filter" type="text" [(ngModel)]="trackListFilters.artistName" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
              <div class="form-inline">
                <div class="form-group">
                  <p>BPM</p>
                  
                  <input style="text-align: center;" class="form-control column-filter" [(ngModel)]="trackListFilters.startBpm" type="text" placeholder="Min" />
                  <input style="text-align: center;" class="form-control column-filter" [(ngModel)]="trackListFilters.endBpm" type="text" placeholder="Max" />
                </div>
                
                <div class="form-group">
                  <p>Year</p>
                  
                  <input style="text-align: center;" class="form-control column-filter" [(ngModel)]="trackListFilters.minYear" type="text" [max]="this.currentYear" placeholder="Min" />
                  <input style="text-align: center;" class="form-control column-filter" [(ngModel)]="trackListFilters.maxYear" type="text" [max]="this.currentYear" />
                </div>
              </div>
            </div>
            <div class="col-md-1">
              <p>Keys</p>
              <p-listbox [checkbox]="true" [multiple]="true" [options]="keyList" [(ngModel)]="trackListFilters.keys" filter="filter" [style]="{'height':filterListBoxHeight, 'font-size': filterListBoxFontSize }"></p-listbox>

            </div>
            <div class="col-md-2">
              <p>Tags</p>
              <p-listbox [checkbox]="true" [multiple]="true" [options]="tagList" [(ngModel)]="trackListFilters.tags" filter="filter" [style]="{'height':filterListBoxHeight, 'font-size': filterListBoxFontSize }"></p-listbox>

            </div>
            <div class="col-md-2">
              <p>Genres</p>
              <p-listbox [checkbox]="true" [multiple]="true" [options]="genresList" [(ngModel)]="trackListFilters.genres" filter="filter" [style]="{'height':filterListBoxHeight, 'font-size': filterListBoxFontSize }"></p-listbox>

            </div>
          </div>
          <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
              <button class="btn btn-primary pull-right" (click)="filterTrackList()">Apply Filters</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2" style="margin-top: 15px;">

          <p style="font-weight: 900;">Manage Collections</p>

          <div #sidebar class="sidebar" style="overflow: hidden; overflow-y: scroll;">
            <p>View Current Collection</p>
            <p-dropdown [options]="collections" [(ngModel)]="selectedCollection" (onChange)="getCollection()" [style]="{'width':'150px'}" filter="filter" placeholder="Select collection"></p-dropdown>

            <p *ngIf="loadedCollection?.name">Collection Loaded: {{loadedCollection.name}}</p> 
            
            <p><button class="btn btn-xs btn-primary" *ngIf="loadedCollection._id" (click)="updateCollection()">Update Collection</button></p>
  
            <p><button class="btn btn-xs btn-primary" *ngIf="loadedCollection._id" (click)="removeTracksFromCollection()">Remove Tracks From Collection</button></p>
            <p><button class="btn btn-xs btn-primary" *ngIf="loadedCollection._id" (click)="addTracksToCollection()">Add Tracks To Collection</button></p>
            
            <hr style="background-color: white; marign-left: 5%; margin-right: 5%;" />
            
            <p>Create a new collection:</p>
            
            <div class="form-group">
              <input type="text" class="form-control" name="crateName" [(ngModel)]="loadedCollection.name" />
            </div>
            <div class="form-group">
              <textarea  class="form-control" [innerText]="loadedCollection.description" [(ngModel)]="loadedCollection.description"></textarea>
            </div>
            
            <button class="btn btn-primary" style="white-space: normal;" *ngIf="!loadedCollection._id" (click)="createCollection()">Create Collection from Selected Tracks</button>
          </div>

        </div>
        <div class="col-md-10">

          <p-dataTable #trackTable class="table track-list" sortField="publishDate" sortOrder="-1" scrollable="true" resizableColumns="true" [value]="tracks.list" expandableRows="true" [lazy]="true" [totalRecords]="tracks.totalRecords" [rows]="25" [paginator]="true" [pageLinks]="10" (onLazyLoad)="filterTrackList($event)"
            [responsive]="true" [rowsPerPageOptions]="[10,25,50]">
            <p-column expander="true" styleClass="col-icon" [style]="{'width' : '25px' }"></p-column>
            <p-column>

              <template let-col let-track="rowData" pTemplate="body">
              <p-checkbox name="tracks" [value]="track" [(ngModel)]="tracksSelected"></p-checkbox>

            </template>

            </p-column>

            <p-column *ngIf="isTrackColumnSelected('added')" field="publishDate" [sortable]="true" header="Added">
              <template let-col let-track="rowData" pTemplate="body">
              {{ track[col.field] | date: 'MM/dd/y' }}
            </template>
            </p-column>

            <p-column *ngIf="isTrackColumnSelected('artist')" field="artistPrimaryName" [sortable]="true" header="Artist" [style]="{'width': trackColumnWidths.artist + '%', 'text-align' : 'left' } ">

              <template let-col let-track="rowData" pTemplate="body">
              {{ track[col.field] }}<br/><span *ngIf="track.artistsFeaturedDisplayName" class="version-subtitle">{{ track.artistsFeaturedDisplayName }}</span>
            </template>
            </p-column>
            <p-column *ngIf="isTrackColumnSelected('bpm')" field="startBpm" [sortable]="true" header="BPM" [style]="{'width': trackColumnWidths.bpm + '%' } ">
            </p-column>
            <p-column *ngIf="isTrackColumnSelected('key')" [sortable]="true" header="Key" [style]="{'width': trackColumnWidths.key + '%' } ">
              <template let-col let-track="rowData" pTemplate="body">
              <span *ngIf="track.inKey && track.inKey.camelotKey && track.inKey.musicKey">{{track.inKey?.camelotKey}}<br/>{{track.inKey?.musicKey}}</span><span *ngIf="!track.inKey || !track.inKey.camelotKey || !track.inKey.musicKey">N/A</span>
            </template>

            </p-column>
            <p-column field="name" header="Title" [sortable]="true" [style]="{'width': trackColumnWidths.title + '%', 'text-align' : 'left' } ">
              <template let-col let-track="rowData" pTemplate="body">
              {{ track[col.field] }}<br/><span class="version-subtitle">{{ track.version }}</span>
            </template>
            </p-column>
            <p-column *ngIf="isTrackColumnSelected('tags')" header="Tags" [style]="{'width': trackColumnWidths.tags + '%' } ">

              <template let-col let-track="rowData" pTemplate="body">
              
              <p class="tag-item" *ngIf="track.cleanDirty" [style.color]="track.cleanDirty.color">{{track.cleanDirty.name}}</p>
              <p class="tag-item" *ngIf="track.versionType" [style.color]="track.versionType.color">{{track.versionType.name}}</p>
              <p class="tag-item" *ngIf="track.introType" [style.color]="track.introType.color">{{track.introType.name}}</p>
              <p class="tag-item" *ngIf="track.outroType" [style.color]="track.outroType.color">{{track.outroType.name}}</p>
              
            </template>

            </p-column>
            <p-column *ngIf="isTrackColumnSelected('genres')" header="Genres" [style]="{'width': trackColumnWidths.genres + '%' } ">

              <template let-col let-track="rowData" pTemplate="body">
              <p class="well tag-item" *ngFor="let genre of track.genres">{{genre.name}}</p>
            </template>

            </p-column>

            <p-column *ngIf="isTrackColumnSelected('year')"  field="releaseYear" [sortable]="true" header="Year">
            </p-column>

            <p-column *ngIf="isTrackColumnSelected('downloadCountForPeriod')"  field="downloadCountForPeriod" [sortable]="true" header="DLs">
            </p-column>

            <p-column *ngIf="isTrackColumnSelected('time')"  field="trackLength" [sortable]="true" header="Time">
              <template let-col let-track="rowData" pTemplate="body">
              
              {{ track.trackLength | secondsToTime }}
              
            </template>
            </p-column>
            <p-column field="status" [sortable]="true" header="Status"></p-column>

            <p-column header="Actions" [style]="{'width': '140px'}">

              <template let-col let-track="rowData" pTemplate="body">
              <div class="text-right">
                <i class="fa fa-play-circle bigger text-link" (click)="togglePlayPause(track)" *ngIf="(trackCurrentlyLoaded._id == track._id && !isPlayerPlaying) || trackCurrentlyLoaded._id != track._id"></i>
                <i class="fa fa-pause-circle bigger text-link" (click)="togglePlayPause(track)" *ngIf="(trackCurrentlyLoaded._id == track._id && isPlayerPlaying)" ></i>
              </div>
            </template>
            </p-column>
            <template let-track pTemplate="rowexpansion">
            <div class="row">
              <div class="col-md-12">
                This is additional track details so I can see what tracks come in the releases it is a part of.
                <div *ngIf="track.tracksInSameReleases && track.tracksInSameReleases.length > 0">
                  <ul>
                    <li *ngFor="let affiliatedTrack of track.tracksInSameReleases">
                      {{affiliatedTrack.formattedName}}
                    </li>
                    
                  </ul>
                </div>
                
              </div>
            </div>
          </template>

          </p-dataTable>
        </div>
      </div>
      <!--<p-contextMenu #cm [model]="contextMenuItemsForTableColumns"></p-contextMenu>-->

    </div>
  </div>