<aside class="al-sidebar">
  <ul class="nav nav-justified nav-tabs">
    <li *ngFor="let currencyItem of currencyList" class="nav-item {{currencyItem.slug}}"
        [ngClass]=" {'disabled': !currencyItem.enabled, 'active': currencyItem._id == selectedCurrency._id }"
        (click)="selectStore(currencyItem)"
        [style.color]="currencyItem.color"
        [style.background-color]="currencyItem.color"
    >
      <a class="nav-link" href="javascript:void(0)">{{currencyItem.name}}</a>
    </li>
  </ul>
</aside>
