@import '../../../../theme/sass/auth';


h1 img {
  max-width: 100%;
}


.auth-block {
  a.auth-link,
  .forgot-pass {
    color: #ddd;
    &:hover {
      color: white;
    }
  }
}

.auth-link.btn {
  white-space: pre-wrap;
}

.auth-link.btn.btn-warning {
  background-color:#e7ba08;
  border-color:#e7ba08;
}