<div class="page-uploader" *ngIf="authService.authResponse.profileData.currencies.length == 0">
  <p>You do not have access to upload to any store. Please contact <a href="mailto:store@crooklynclan.net">store@crooklynclan.net</a> for further details.</p>
</div>
<div class="page-uploader" *ngIf="authService.authResponse.profileData.currencies.length > 0">

  <p-accordion>
    <p-accordionTab header="Uploader Dropzone" [selected]="true">
      <div class="row uploader-controller">
        <div class="col-md-3">
                <store-selector [editorUploader]="true"></store-selector>
        </div>
        <div class="col-md-9 dropzone-container">
          <div ng2FileDrop id="dropzone" #bigDropzone [uploader]="selectedUploader" (fileOver)="triggerFileOverStateFileUploader($event, bigDropzone)">DROPZONE</div>

        </div>
      </div>
    </p-accordionTab>
  </p-accordion>

  <div class="row">
    <div class="col-md-12">
      <tabset [justified]="true" *ngIf="selectedCurrencyId" class="uploader-tabs">
                        <tab (click)="adjustTableHeight()" (select)="activeList='draftMigratedTracks'" customClass="tab-heading-justify-spacing" *ngIf="uploadService.draftMigratedTracks?.results?.length > 0">
          <template tabHeading>
            <span><i class="glyphicon glyphicon-bell"></i> v1 Migrated <span class="tag tag-warning">{{uploadService.draftMigratedTracks.results.length}}</span></span>
          </template>
          <p-dataTable #migrationTrackTable scrollable="true" [value]="uploadService.draftMigratedTracks.results" [rows]="50" [paginator]="true"
            [totalRecords]="uploadService.draftMigrationTrackList.total">
            <p-column header="Track" styleClass="text-left" field="name"></p-column>
                        <p-column header="v1 Product ID" styleClass="text-left" field="crooklynClanv1ProductID"></p-column>
                <p-column styleClass="text-right" [style]="{'width':'20%'}">
                  <template let-col let-track="rowData" pTemplate="body">

                <div *ngIf="track._id">
                      <i class="fa fa-play-circle bigger text-link" (click)="togglePlayPause(track)" *ngIf="(trackCurrentlyLoaded._id == track._id && !isPlayerPlaying) || trackCurrentlyLoaded._id != track._id"></i>
                      <i class="fa fa-pause-circle bigger text-link" (click)="togglePlayPause(track)" *ngIf="(trackCurrentlyLoaded._id == track._id && isPlayerPlaying)" ></i>
                      <i class="fa fa-pencil" title="Edit track" (click)="showTrackEditor(track)"></i>
                </div>
                </template>
                </p-column>
          </p-dataTable>

          <p *ngIf="uploadService.draftMigratedTracks.results.length == 0">No tracks prepared for migration.</p>
        </tab>
        <tab (click)="adjustTableHeight()" customClass="tab-heading-justify-spacing">
          <template tabHeading>
            <span><i class="glyphicon glyphicon-bell"></i> Rejected <span class="tag tag-danger">{{uploadService.rejectedTracks.results.length}}</span></span>
          </template>
          <p-dataTable #dataTable *ngIf="uploadService.rejectedTracks.results.length > 0" scrollable="true" [value]="uploadService.rejectedTracks.results">
            <p-column header="Track Filename" styleClass="text-left" field="originalFileName"></p-column>
            <p-column header="Reason" styleClass="text-center" field="message">
              <template let-col let-track="rowData" pTemplate="body">
                {{ track[col.field]?.title }}
              </template>
            </p-column>
          </p-dataTable>

          <p *ngIf="uploadService.rejectedTracks.results.length == 0">No tracks have been rejected.</p>
        </tab>
        <tab [active]="true" (click)="uploadService.activeTrackList = 'needsEditing'" (select)="activeList='tracksNotReadyToPublish'" (click)="adjustTableHeight()" customClass="tab-heading-justify-spacing">
          <template tabHeading>
            <span><i class="glyphicon glyphicon-bell"></i> Needs Editing <span class="tag tag-warning">{{ uploadService.tracksNotReadyToPublish.results | listLength }}</span></span>
          </template>

          <p-dataTable #readyTracksTable *ngIf="lengthCounter(uploadService.tracksNotReadyToPublish.results) > 0" scrollable="true" resizableColumns="true" [value]="uploadService.tracksNotReadyToPublish.results">

            <p-column header="Track Filename" styleClass="text-left" [sortable]="true" field="originalFileName">
              <template let-col let-track="rowData" pTemplate="body">
                {{ track?.originalFileName || track?.file?.name }}
              </template>
            </p-column>

            <p-column header="Track Title" styleClass="text-center" field="name" [sortable]="true">
              <template let-col let-track="rowData" pTemplate="body">
                {{ track?.name || '(not set)' }}&nbsp;&nbsp;&nbsp;<small *ngIf="track.crooklynClanv1AutoMigrated" class="tag tag-warning text-dark">Migration Only <i class="fa fa-question-circle-o tooltip-indicator" tooltipster="This track was migrated from Crooklyn Clan v1. It cannot be added to any new releases and is only published for the purposes of being listed on this version of Crooklyn Clan. It will not be republished on v1."
                    tooltipsterPosition="top" tooltipsterEvent="click"></i></small><small *ngIf="track.inRevisionMode" class="tag tag-warning text-dark">Published / In Revision Mode <i class="fa fa-question-circle-o tooltip-indicator" tooltipster="This track is an already published track and can only be edited. It cannot be deleted and it cannot be added to releases."
                    tooltipsterPosition="top" tooltipsterEvent="click"></i></small>
              </template>
            </p-column>

            <p-column header="Actions" styleClass="text-right">

              <template let-col let-track="rowData" pTemplate="body">
                <div *ngIf="track.isUploading || (!track.draftTrackUploadedToS3 && track._id)">
                  <div class="progress" style="margin-bottom: 0;">
                    <span class="status-message" *ngIf="track.actualProgress < 100">{{track.actualProgress}}%</span>
                    <span class="status-message" *ngIf="track.actualProgress == 100 || (!track.draftTrackUploadedToS3 && track._id)">Processing...</span>

                    <div class="progress-bar text-center" role="progressbar" [ngStyle]="{ 'width': track.actualProgress + '%' }">
                    </div>
                  </div>
                </div>
                <div *ngIf="track._id && track.draftTrackUploadedToS3">
                      <i class="fa fa-play-circle bigger text-link" (click)="togglePlayPause(track)" *ngIf="(trackCurrentlyLoaded._id == track._id && !isPlayerPlaying) || trackCurrentlyLoaded._id != track._id"></i>
                      <i class="fa fa-pause-circle bigger text-link" (click)="togglePlayPause(track)" *ngIf="(trackCurrentlyLoaded._id == track._id && isPlayerPlaying)" ></i>
                  <i class="fa fa-pencil" title="Edit track" (click)="showTrackEditor(track)"></i>
                  <i class="fa fa-trash" *ngIf="!track.crooklynClanv1AutoMigrated && !track.inRevisionMode" title="Remove track" (click)="removeTrack(track)"></i>
                </div>

              </template>
            </p-column>
          </p-dataTable>

          <p *ngIf="lengthCounter(uploadService.tracksNotReadyToPublish.results) == 0">No tracks are in need of editing.</p>
        </tab>
        <tab (click)="uploadService.activeTrackList = 'approved'" (select)="activeList='tracksReadyToPublish'" (click)="adjustTableHeight()" customClass="tab-heading-justify-spacing">
          <template tabHeading>
            <span>
              <i class="glyphicon glyphicon-bell"></i> Publish Tracks & ZIPs <span class="tag tag-success">{{ uploadService.tracksReadyToPublish.results | listLength }}</span>
            </span>
          </template>
          <div class="publish-tracks-and-zips">
          <div class="row">

            <div class="col-md-6 text-left">
              <button class="btn btn-primary" (click)="selectAllTracks()">Select All</button>
              <button class="btn btn-primary" [disabled]="tracksToSubmit.length == 0" (click)="unselectAllTracks()">Unselect All</button>
              <button class="btn btn-primary" (click)="createRelease()" [disabled]="!allowAddingTracksToReleases()">Create Release From Selected</button>

            </div>

            <div class="col-md-6 text-right">

              <!-- button (click)="submitAllApprovedTracksAndReleases()" class="btn btn-success" [disabled]="isSubmitAllInProgress || !tracksAndReleasesReady">Submit All</button -->
              <button (click)="submitSelectedApprovedTracksAndReleases()" [disabled]="publishButtonDisabled" class="btn btn-success" [disabled]="tracksToSubmit.length == 0 && releasesToSubmit.length == 0">Submit Selected</button>

            </div>
          </div>
          <div class="row tables-container">
            <div class="col-md-6">
              <p-dataTable #dataTable scrollable="true" [value]="uploadService.tracksReadyToPublish.results" sortMode="multiple">
                <p-column [style]="{'width':'5%'}" styleClass="text-center track-checkbox">
                  <template let-col let-track="rowData" pTemplate="body">

                        <p-checkbox name="tracks" [value]="track" [(ngModel)]="tracksToSubmit"></p-checkbox>
                        </template>
                </p-column>
                <p-column header="Tracks Ready to Publish" [sortable]="true" field="formattedName" styleClass="text-left" [style]="{'width':'75%'}">
                  <template let-col let-track="rowData" pTemplate type="body">
                    <div class="text-left track-information">
                      <span>{{track.formattedName}}</span>&nbsp;&nbsp;&nbsp;<small *ngIf="track.crooklynClanv1AutoMigrated" class="tag tag-warning text-dark">Migration Only <i class="fa fa-question-circle-o tooltip-indicator" tooltipster="This track was migrated from Crooklyn Clan v1. It cannot be added to any new releases and is only published for the purposes of being listed on this version of Crooklyn Clan. It will not be republished on v1."
                    tooltipsterPosition="top" tooltipsterEvent="click"></i></small><small *ngIf="track.inRevisionMode" class="tag tag-warning text-dark">Published / In Revision Mode <i class="fa fa-question-circle-o tooltip-indicator" tooltipster="This track is an already published track and can only be edited. It cannot be deleted and it cannot be added to releases."
                    tooltipsterPosition="top" tooltipsterEvent="click"></i></small>
                    </div>
                  </template>
                </p-column>
                <p-column styleClass="text-right" [style]="{'width':'20%'}">
                  <template let-col let-track="rowData" pTemplate="body">
                      <i class="fa fa-play-circle bigger text-link"  *ngIf="(trackCurrentlyLoaded._id == track._id && !isPlayerPlaying) || trackCurrentlyLoaded._id != track._id" (click)="togglePlayPause(track)"></i>
                      <i class="fa fa-pause-circle bigger text-link"  *ngIf="(trackCurrentlyLoaded._id == track._id && isPlayerPlaying)" (click)="togglePlayPause(track)"></i>
                      <i class="fa fa-pencil" *ngIf="!track.isSubmitting" (click)="showTrackEditor(track)"></i>
                      <i class="fa fa-trash" *ngIf="!track.crooklynClanv1AutoMigrated && !track.inRevisionMode" title="Remove track" (click)="removeTrack(track)"></i>

                      <!--i class="fa fa-arrows fa-2x" pDraggable="addtrackstorelease" (onDragStart)="dragTrackToReleaseStart($event,track)" (onDragEnd)="dragTrackToReleaseEnd($event)"></i -->

                  </template>
                </p-column>
              </p-dataTable>

            </div>
            <div class="col-md-6">

              <p-dataTable #releasesDataTable [value]="releases.draftList" scrollable="true" [expandedRows]="expandedRows" expandableRows="true" emptyMessage="No releases have been created yet.">
                <p-column expander="true" styleClass="col-icon" [style]="{'width':'4%'}"></p-column>
                <p-column styleClass="text-center" [style]="{'width':'96%'}" field="name" header="Releases" [sortable]="true">
                  <template let-release="rowData" pTemplate="body">
                    <div class="row">
                      <div class="col-md-12 justify-spacing">

                        <div class="left">
                          <p-checkbox [disabled]="!release?.validation?.isReleaseValid" name="releases" [value]="release" class="text-left select-checkbox" [(ngModel)]="releasesToSubmit"></p-checkbox>
                          <span class="tag tag-link">{{ release?.tracks.length }}</span>
                          <button class="btn add-tracks-to-release" [ngClass]="{'btn-success': tracksToSubmit.length > 0,
                          'tag-link': tracksToSubmit.length == 0 }" [disabled]="!allowAddingTracksToReleases()" title="Add selected tracks to this release" (click)="addSelectedTracksToRelease(release)">+ {{ tracksToSubmit.length }}</button>

                        </div>

                        <div class="center">
                          <span>{{release?.name}}</span>
                        </div>

                        <div class="right">
                          <i class="fa fa-pencil" *ngIf="!release?.isSubmitting" (click)="showReleaseEditor(release)"></i>
                          <i class="fa fa-trash " title="Remove release" (click)="removeRelease(release)"></i>
                        </div>

                      </div>
                    </div>
                  </template>
                </p-column>

                <template let-release pTemplate="rowexpansion">
                  <!--div class="well dropzone" pDroppable="addtrackstorelease" #dropzoneReleaseContainer (onDrop)="dropTrackInRelease($event, release)" (onDragOver)="triggerFileOverStateReleaseEditor(true,dropzoneReleaseContainer)" (onDragLeave)="triggerFileOverStateReleaseEditor(false,dropzoneReleaseContainer)" (onDragEnter)="triggerFileOverStateReleaseEditor(true,dropzoneReleaseContainer)">
                    DROP TRACKS HERE
                  </div-->
                  <div class="row" *ngFor="let track of release.tracks">
                    <div class="col-md-8 text-left">{{ track.name }}</div>
                    <div class="col-md-4 text-right">
                      <i class="fa fa-play-circle bigger text-link"  *ngIf="(trackCurrentlyLoaded._id == track._id && !isPlayerPlaying) || trackCurrentlyLoaded._id != track._id" (click)="togglePlayPause(track)"></i>
                      <i class="fa fa-pause-circle bigger text-link"  *ngIf="(trackCurrentlyLoaded._id == track._id && isPlayerPlaying)" (click)="togglePlayPause(track)"></i>
                      <i class="fa fa-trash bigger" title="Remove track" (click)="removeTrackFromRelease(track, release)"></i>
                    </div>
                  </div>
                </template>
              </p-dataTable>

            </div>
          </div>
          <div class="row" *ngIf="lengthCounter(uploadService.tracksReadyToPublish.results) == 0 && releases.draftList.length == 0">
            <div class="col-md-12">
              There are no tracks and/or releases to submit.
            </div>
          </div>
                    </div>

        </tab>

      </tabset>
    </div>
  </div>
</div>
<track-editor></track-editor>
<release-editor></release-editor>
