<div class="fixed-height-nav" *ngIf="authService.authResponse.profileData.userRole == 'editor'">
    <div class="al-content">
        <div class="editor-tabs">
            <ul class=" nav nav-justified nav-tabs">
                <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/pages/editors/welcome']">Welcome</a></li>
                <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/pages/editors/uploader']">Uploader</a></li>
                <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/pages/editors/tracks']">My Tracks</a></li>
                <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/pages/editors/profile']">My Profile</a></li>
                <li class="nav-item"><a class="nav-link"  [routerLinkActive]="['active']" [routerLink]="['/pages/tracks']">Store</a></li>
            </ul>
        </div>
    </div>
</div>