#mediaplayer-container {

  overflow:hidden;

  .fa.fa-play-circle,
  .fa.fa-pause-circle {
    font-size: 7rem;
    vertical-align: middle;
    display: inline-block;
    margin-left: 0px;
    margin-right: 5px;
  }

  .text-red {
    color: red;
  }

    .play-button-container {
    }
   .social-media-icons {
      bottom: 0;
      right: 15px;
      position: absolute;
      z-index: 5;

      .fa-facebook,
      .fa-twitter,
      .fa-cloud-download,
      .fa-plus-circle {
        font-size: 2rem;
        float: left;
        margin-left: 15px;
        -moz-transition: color 0.2s;
        -o-transition: color 0.2s;
        -webkit-transition: color 0.2s;
        transition: color 0.2s;
        &:hover {
          color: #8bd22f;
        }
      }
    }
    
  #wavesurfer-player-container {
    width: calc(100% - 6.7rem);
    display: inline-block;
    vertical-align: middle;
  }

  #wavesurfer-player {
    
  }

  .track-playing-information {
    padding: 12px 0px;
  }

  .track-playing-title, .track-playing-artists {
    font-size: 0.9rem;
    padding-bottom:5px;
    display:inline-block;
  }

  .track-playing-version, .track-playing-featured-artists {
    color: #ccc;
    padding-bottom:5px;
    display:inline-block;

  }
}

.video-js {
  display: inline-block;
  vertical-align: middle;
      margin-top: 10px;
}

#waveform_player {
  
  vertical-align:middle;
  display:inline-block;
  width: 50%;
  background-color: black;
  
  .vjs-tech {
    display:none;
  }
  
}

